@model N.G.HRS.Areas.PlanningAndJobDescription.Models.JobDescription
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "جديد";
    Layout = "_Layout";
}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../../../dashboard.html"> الرئيسة</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة النظام
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة التخطيط والتوصيف الوظيفي
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a asp-action="Index">دليل الوصف الوظيفي </a>

        </li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3> دليل الوصف الوظيفي </h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label asp-for="JopName" class="form-label"></label>
                                    <input asp-for="JopName" class="form-control" />
                                    <span asp-validation-for="JopName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="JobQualifications" class="form-label"></label>
                                    <input asp-for="JobQualifications" class="form-control" />
                                    <span asp-validation-for="JobQualifications" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label asp-for="Authorities" class="form-label"></label>
                                    <input asp-for="Authorities" class="form-control" />
                                    <span asp-validation-for="Authorities" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Responsibilities" class="form-label"></label>
                                    <input asp-for="Responsibilities" class="form-control" />
                                    <span asp-validation-for="Responsibilities" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="form-group col-md-4">
                                    <label asp-for="FunctionalClassId" class="form-label"></label>
                                    <select asp-for="FunctionalClassId" class="js-example-basic-single form-select" asp-items="ViewBag.FunctionalClassId">
                                        <option value="" selected disabled></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="FunctionalCategoriesId" class="form-label"></label>
                                    <select asp-for="FunctionalCategoriesId" class="js-example-basic-single form-select" asp-items="ViewBag.FunctionalCategoriesId">
                                        <option value="" selected disabled></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="JobRanksId" class="form-label"></label>
                                    <select asp-for="JobRanksId" class="js-example-basic-single form-select" asp-items="ViewBag.JobRanksId">
                                        <option value="" selected disabled></option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="form-group col-md-12">
                                    <label asp-for="Notes" class="form-label"></label>
                                    <input asp-for="Notes" class="form-control" />
                                    <span asp-validation-for="Notes" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <input type="submit" id="submit" value="حفظ" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-light">رجوع للقائمة</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
