@model N.G.HRS.Areas.EmployeesAffsirs.Models.AnnualGoals

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "تبديل الموظفين";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<h1>الأهداف السنوية</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" id="EmployeeId" class="form-control" asp-items="@(ViewData["EmployeeId"] as SelectList)">

                    <option value=""> --أختر الموظف --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goals" class="control-label"></label>
                <input asp-for="Goals" class="form-control" />
                <span asp-validation-for="Goals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("submit").addEventListener("click", function (event) {
            const EmployeeId = document.getElementById("EmployeeId");
            if (EmployeeId.value === "") {
                event.preventDefault(); // منع إرسال النموذج
                Swal.fire({
                    icon: "error",
                    title: "خطأ",
                    text: "يرجى اختيار الموظف",
                    showConfirmButton: true,
                    allowOutsideClick: false,
                    timer: 5000, // زمن الإغلاق التلقائي بالميللي ثانية
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.getHtmlContainer().querySelector('audio').remove();
                    }
                });
            }
        });
    </script>



}
