@model N.G.HRS.Areas.EmployeesAffsirs.Models.AnnualGoals

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "جديد";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<h1>الأهداف السنوية</h1>

<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label asp-for="EmployeeId" class="control-label"> الموظف</label>
                            <select asp-for="EmployeeId" id="EmployeeId" class="  js-example-basic-single form-select" asp-items="@(ViewData["EmployeeId"] as SelectList)">
                                <option value=""  disabled></option>
                            </select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>

                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Goals" class="control-label"></label>
                            <input asp-for="Goals" class="form-control" />
                            <span asp-validation-for="Goals" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 form-group mb-3">
                            <label asp-for="Date" class="form-label"></label>
                            <div class="input-group flatpickr-date" id="flatpickr-date">
                                <input asp-for="Date" id="datepicker" class="js-example-basic-single form-control" placeholder="أدخل التاريخ" data-input>
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="calendar"></i>
                                </span>
                            </div>
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label asp-for="Notes" class="control-label"></label>
                            <input asp-for="Notes" class="form-control" />
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" tabindex="13" id="Submit" value="حفظ" class="btn btn-primary" />
                        <a asp-action="Index" tabindex="14" class="btn btn-light">رجوع الى القائمة</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById("submit").addEventListener("click", function (event) {
            const EmployeeId = document.getElementById("EmployeeId");
            if (EmployeeId.value === "") {
                event.preventDefault(); // منع إرسال النموذج
                Swal.fire({
                    icon: "error",
                    title: "خطأ",
                    text: "يرجى اختيار الموظف",
                    showConfirmButton: true,
                    allowOutsideClick: false,
                    timer: 5000, // زمن الإغلاق التلقائي بالميللي ثانية
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.getHtmlContainer().querySelector('audio').remove();
                    }
                });
            }
        });
    </script>



}
