@model N.G.HRS.Areas.PayRoll.Models.EndOfServiceClearance
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "مخالصة نهاية الخدمة";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../../../dashboard.html">الرئيسة</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة النظام
        </li>
        
        <li class="breadcrumb-item active" aria-current="page">
              المرتبات والاجور
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a asp-action="Index">مخالصة نهاية الخدمة</a>
        </li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">مخالصة نهاية الخدمة</h4>
                <br />
                <hr />
                <form asp-action="Create" id="EndOfServiceClearanceForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label asp-for="EmployeeId" class="form-label">الموظف</label>
                                <select asp-for="EmployeeId" id="EmployeeId1" class="form-control" asp-items="ViewBag.EmployeeId">
                                    <option value=""> </option>
                                    <option value="">اختر الموظف</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label asp-for="Date" class="form-label">التاريخ</label>
                                <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                    <input asp-for="Date" id="Date1" class="form-control" placeholder=" التاريخ" data-input />
                                    <span class="input-group-text input-group-addon" data-toggle>
                                        <i data-feather="calendar"></i>
                                    </span>
                                </div>
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>



                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label asp-for="EndOfServiceDate" class="form-label">تاريخ نهاية الخدمة</label>
                                <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                    <input asp-for="EndOfServiceDate" id="EndOfServiceDate" class="form-control" placeholder=" ادخل تاريخ نهاية الخدمة" data-input />
                                    <span class="input-group-text input-group-addon" data-toggle>
                                        <i data-feather="calendar"></i>
                                    </span>
                                </div>
                                <span asp-validation-for="EndOfServiceDate" class="text-danger"></span>
                            </div>
                        </div>



                    </div><!-- Row -->

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label asp-for="ReasonForClearance" class="form-label">ســبـب التــصــفـيـة</label>
                                <input asp-for="ReasonForClearance" id="ReasonForClearance" class="form-control" placeholder=" ســبـب التــصــفـيـة " />
                                <span asp-validation-for="ReasonForClearance" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label asp-for="LastApprovedSalary" class="form-label"> راتــب الـمـعـتـمـد</label>
                                <input asp-for="LastApprovedSalary" id="LastApprovedSalary" class="form-control" placeholder="   راتــب الـمـعـتـمـد " type="number" min="0" step="any" oninput="validateNumberInput(this)" />
                                <span asp-validation-for="LastApprovedSalary" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label asp-for="ServicePeriodPerYear" class="form-label">مدة الخدمة بالسنة</label>
                                <input asp-for="ServicePeriodPerYear" id="ServicePeriodPerYear" class="form-control" placeholder=" مدة الخدمة بالسنة" />
                                <span asp-validation-for="ServicePeriodPerYear" class="text-danger"></span>
                            </div>
                        </div>
                    </div><!-- Row -->

                    <fieldset style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
                        <legend>المستحقات</legend>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="EndOfServiceBenefits" class="form-label">مستحقات نهاية الخدمة</label>
                                    <input asp-for="EndOfServiceBenefits" id="EndOfServiceBenefits" class="form-control" />
                                    <span asp-validation-for="EndOfServiceBenefits" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="VacationEntitlements" class="form-label">مستحقات الإجازة</label>
                                    <input asp-for="VacationEntitlements" id="VacationEntitlements" class="form-control" />
                                    <span asp-validation-for="VacationEntitlements" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="OtherEntitlements" class="form-label">مستحقات أخرى</label>
                                    <input asp-for="OtherEntitlements" id="OtherEntitlements" class="form-control" />
                                    <span asp-validation-for="OtherEntitlements" class="text-danger"></span>
                                </div>
                            </div>
                        </div><!-- Row -->
                    </fieldset>
                    <!-- Row -->
                    <fieldset style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
                        <legend>الاستقطاعات</legend>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="AdvancesAndLoans" class="form-label">السلف والقروض</label>
                                    <input asp-for="AdvancesAndLoans" id="AdvancesAndLoans" class="form-control" type="number" min="0" step="any" oninput="validateNumberInput(this)" />
                                    <span asp-validation-for="AdvancesAndLoans" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="Absence" class="form-label">الغياب</label>
                                    <input asp-for="Absence" id="Absence" class="form-control" />
                                    <span asp-validation-for="Absence" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="OtherDiscounts" class="form-label">خصومات أخرى</label>
                                    <input asp-for="OtherDiscounts" id="OtherDiscounts" class="form-control" />
                                    <span asp-validation-for="OtherDiscounts" class="text-danger"></span>
                                </div>
                            </div>
                        </div><!-- Row -->

                    </fieldset>


                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label asp-for="Total" class="form-label">المجموع</label>
                                <input asp-for="Total" id="Total" class="form-control" type="number" min="0" step="any" oninput="validateNumberInput(this)" />
                                <span asp-validation-for="Total" class="text-danger"></span>
                            </div>
                        </div>
                    </div><!-- Row -->

                    <button type="submit" id="EndOfServiceClearanceForm" class="btn btn-primary">حفظ</button>
                    <a asp-action="Index" class="btn btn-light">رجوع للقائمة</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



    <script>
        function validateNumberInput(input) {
            input.value = input.value.replace(/[^0-9]/g, '');
        }

        $(document).ready(function () {
            function showErrorMessage(message) {
                Swal.fire({
                    icon: "error",
                    title: message,
                });
            }

            function showSuccessMessage(message) {
                Swal.fire({
                    icon: "success",
                    title: message,
                }).then(() => {
                    window.location.href = '@Url.Action("Index", "EndOfServiceClearances")';
                });
            }

            function updateLoansAndAdvances(employeeId) {
                $.ajax({
                    url: '@Url.Action("GetEmployeeLoansAndAdvances", "EndOfServiceClearances")',
                    method: 'GET',
                    data: { employeeId: employeeId },
                    success: function (response) {
                        if (response.success) {
                            var total = parseFloat(response.loans) + parseFloat(response.advances);
                            $('#AdvancesAndLoans').val(total);
                        } else {
                            showErrorMessage(response.message);
                        }
                    },
                    error: function () {
                        showErrorMessage("حدث خطأ أثناء جلب بيانات القروض والسلف");
                    }
                });
            }

            $("#EmployeeId1").on('change', function () {
                var employeeId = $(this).val();
                if (employeeId) {
                    updateLoansAndAdvances(employeeId);
                } else {
                    $('#AdvancesAndLoans').val('');
                }
            });

            $("#EndOfServiceClearanceForm").on('submit', function (event) {
                event.preventDefault();

                var employeeId1 = $("#EmployeeId1").val();
                var date1 = $("#Date1").val();
                var endOfServiceDate = $("#EndOfServiceDate").val();
                var reasonForClearance = $("#ReasonForClearance").val();
                var lastApprovedSalary = $("#LastApprovedSalary").val();
                var servicePeriodPerYear = $("#ServicePeriodPerYear").val();
                var endOfServiceBenefits = $("#EndOfServiceBenefits").val();
                var advancesAndLoans = $("#AdvancesAndLoans").val();
                var vacationEntitlements = $("#VacationEntitlements").val();
                var absence = $("#Absence").val();
                var otherEntitlements = $("#OtherEntitlements").val();
                var otherDiscounts = $("#OtherDiscounts").val();
                var total = $("#Total").val();

                if (employeeId1 === "") {
                    showErrorMessage("يجب اختيار اسم الموظف");
                    return false;
                } else if (date1 === "") {
                    showErrorMessage("يجب تحديد التاريخ");
                    return false;
                } else if (endOfServiceDate === "") {
                    showErrorMessage("يجب تحديد تاريخ نهاية الخدمة");
                    return false;
                } else if (reasonForClearance === "") {
                    showErrorMessage("يجب تحديد سبب التصفية");
                    return false;
                } else if (lastApprovedSalary === "") {
                    showErrorMessage("يجب تحديد الراتب المعتمد");
                    return false;
                } else if (servicePeriodPerYear === "") {
                    showErrorMessage("يجب تحديد مدة الخدمة بالسنة");
                    return false;
                } else if (endOfServiceBenefits === "") {
                    showErrorMessage("يجب تحديد استحقاقات نهاية الخدمة");
                    return false;
                } else if (vacationEntitlements === "") {
                    showErrorMessage("يجب تحديد استحقاقات الإجازة");
                    return false;
                } else if (otherEntitlements === "") {
                    showErrorMessage("يجب تحديد استحقاقات أخرى");
                    return false;
                } else if (advancesAndLoans === "") {
                    showErrorMessage("يجب تحديد السلف والقروض");
                    return false;
                } else if (absence === "") {
                    showErrorMessage("يجب تحديد الغياب");
                    return false;
                } else if (otherDiscounts === "") {
                    showErrorMessage("يجب تحديد خصومات أخرى");
                    return false;
                } else if (total === "") {
                    showErrorMessage("يجب تحديد المجموع");
                    return false;
                }

                $.ajax({
                    url: $(this).attr('action'),
                    method: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function (response) {
                        showSuccessMessage("تم الحفظ بنجاح");
                    },
                    error: function (response) {
                        showErrorMessage("حدث خطأ أثناء الحفظ");
                    }
                });
            });
        });
    </script>



    @*
    <script>
        function validateNumberInput(input) {
            input.value = input.value.replace(/[^0-9]/g, '');
        }

        $(document).ready(function () {
            function showErrorMessage(message) {
                Swal.fire({
                    icon: "error",
                    title: message,
                });
            }

            function showSuccessMessage(message) {
                Swal.fire({
                    icon: "success",
                    title: message,
                }).then(() => {
                    window.location.href = '@Url.Action("Index", "EndOfServiceClearances")'; // استبدل YourControllerName باسم وحدة التحكم الخاصة بك
                });
            }

            $("#EndOfServiceClearanceForm").on('submit', function (event) {
                event.preventDefault(); // منع الإرسال الافتراضي للنموذج

                var employeeId1 = $("#EmployeeId1").val();
                var date1 = $("#Date1").val();
                var endOfServiceDate = $("#EndOfServiceDate").val();
                var reasonForClearance = $("#ReasonForClearance").val();
                var lastApprovedSalary = $("#LastApprovedSalary").val();
                var servicePeriodPerYear = $("#ServicePeriodPerYear").val();
                var endOfServiceBenefits = $("#EndOfServiceBenefits").val();
                var advancesAndLoans = $("#AdvancesAndLoans").val();
                var vacationEntitlements = $("#VacationEntitlements").val();
                var absence = $("#Absence").val();
                var otherEntitlements = $("#OtherEntitlements").val();
                var otherDiscounts = $("#OtherDiscounts").val();
                var total = $("#Total").val();

                if (employeeId1 === "") {
                    showErrorMessage("يجب اختيار اسم الموظف");
                    return false;
                } else if (date1 === "") {
                    showErrorMessage("يجب تحديد التاريخ");
                    return false;
                } else if (endOfServiceDate === "") {
                    showErrorMessage("يجب تحديد تاريخ نهاية الخدمة");
                    return false;
                } else if (reasonForClearance === "") {
                    showErrorMessage("يجب تحديد سبب التصفية");
                    return false;
                } else if (lastApprovedSalary === "") {
                    showErrorMessage("يجب تحديد الراتب المعتمد");
                    return false;
                } else if (servicePeriodPerYear === "") {
                    showErrorMessage("يجب تحديد مدة الخدمة بالسنة");
                    return false;
                } else if (endOfServiceBenefits === "") {
                    showErrorMessage("يجب تحديد استحقاقات نهاية الخدمة");
                    return false;
                } else if (vacationEntitlements === "") {
                    showErrorMessage("يجب تحديد استحقاقات الإجازة");
                    return false;
                } else if (otherEntitlements === "") {
                    showErrorMessage("يجب تحديد استحقاقات أخرى");
                    return false;
                } else if (advancesAndLoans === "") {
                    showErrorMessage("يجب تحديد السلف والقروض");
                    return false;
                } else if (absence === "") {
                    showErrorMessage("يجب تحديد الغياب");
                    return false;
                } else if (otherDiscounts === "") {
                    showErrorMessage("يجب تحديد خصومات أخرى");
                    return false;
                } else if (total === "") {
                    showErrorMessage("يجب تحديد المجموع");
                    return false;
                }

                // إرسال البيانات باستخدام AJAX
                $.ajax({
                    url: $(this).attr('action'), // عنوان URL الخاص بالنموذج
                    method: $(this).attr('method'), // طريقة الإرسال (POST أو GET)
                    data: $(this).serialize(), // تسلسل بيانات النموذج
                    success: function (response) {
                        showSuccessMessage("تم الحفظ بنجاح");
                    },
                    error: function (response) {
                        showErrorMessage("حدث خطأ أثناء الحفظ");
                    }
                });
            });
        });
    </script> *@


}
