@model N.G.HRS.Areas.AttendanceAndDeparture.Models.OneFingerprint
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../../../dashboard.html"> الرئيسة</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة النظام
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة الحظور والانصراف
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a asp-action="Index">دليل البصمة الواحدة </a>

        </li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-header">
                        <h3> دليل البصمة الواحدة </h3>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <select asp-for="EmployeeId" class="form-control" id="Employee11" asp-items="@(ViewData["EmployeeId"] as SelectList)">
                                <option value="" selected disabled></option>
                            </select>
                    </div>


                        <div class="col-md-6 col-12 mb-3" >
                            <label asp-for="Date" class="control-label"></label><span class="text-danger">*</span>
                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                <input asp-for="Date" id="Date" class="form-control" placeholder="أدخل التاريخ"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="calendar"></i>
                                </span>
                                <span asp-validation-for="Date" class="text-danger"></span>

                            </div>

                        </div>
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="OneDayFingerprint" /> @Html.DisplayNameFor(model => model.OneDayFingerprint)
                        </label>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for=FromDate class="form-label"></label><span class="text-danger">*</span>
                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                <input asp-for="FromDate" id="DateOfStartWork" class="form-control" placeholder="أدخل التاريخ"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="calendar"></i>
                                </span>
                                <span asp-validation-for="FromDate" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="ToDate" class="form-label"></label><span class="text-danger">*</span>
                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                <input asp-for="ToDate" id="DateOfEndWork" class="form-control" placeholder="أدخل التاريخ"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="calendar"></i>
                                </span>
                                <span asp-validation-for="ToDate" class="text-danger"></span>

                            </div>
                        </div>
                    </div>


                  @*   <div class="form-group">
                        <label asp-for="FromDate" class="control-label"></label>
                        <input asp-for="FromDate" class="form-control" />
                        <span asp-validation-for="FromDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ToDate" class="control-label"></label>
                        <input asp-for="ToDate" class="form-control" />
                        <span asp-validation-for="ToDate" class="text-danger"></span>
                    </div> *@
                    <div class="form-group">
                        <label asp-for="Notes" class="control-label"></label>
                        <input asp-for="Notes" class="form-control" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="حفظ" id="Submit11" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-light">رجوع للقائمة</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            const data = document.getElementById("Date");
            data.valueAsDate = new Date();
            $('#Date').datepicker({ dateFormat: 'dd/mm/yy' }).loaded(function () {
                $(this).datepicker('setDate', new Date());
            });

        });
        // const Employee = document.getElementById("Employee");
        // const Submit = document.getElementById("Submit");
        // Submit.addEventListener("click", function () {
        //     if (Employee.value === ""){
        //         alert("Please Select Employee");
        //     }

        // });
        //===================================
        document.getElementById("Submit11").addEventListener("click", function (event) {
            const selectElement = document.getElementById("Employee11");
            if (selectElement.value === "") {
                event.preventDefault(); // Prevent form submission
                Swal.fire({
                    icon: "error",
                    title: "خطئ....",
                    text: "رجاء أختر موظف ",
                });
            }
        });

    </script>
}
