@model N.G.HRS.Areas.OrganizationalChart.Models.Branches
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "جديد";
    Layout = "_Layout";

}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../../../dashboard.html"> الرئيسة</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة النظام
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة الهيكل التنظيمي
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a asp-action="Index"> دليل الفروع</a>

        </li>
    </ol>
</nav>
<div class="card">

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>دليل الفروع  </h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-5">
                                    <label asp-for="BranchesName" class="control-label"></label>
                                    <input asp-for="BranchesName" class="form-control" />
                                    <span asp-validation-for="BranchesName" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="BranchesPhone" class="control-label"></label>
                                    <input asp-for="BranchesPhone" class="form-control" />
                                    <span asp-validation-for="BranchesPhone" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="CompanyId" class="control-label"></label>
                                    <select asp-for="CompanyId" id="CompanyId" class="js-example-basic-single form-select" asp-items="@(ViewData["company"] as SelectList)">
                                    </select>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <label asp-for="BranchesEmail" class="control-label"></label>
                                    <input asp-for="BranchesEmail" class="form-control" />
                                    <span asp-validation-for="BranchesEmail" class="text-danger"></span>
                                </div>
                                <div class="col-md-8">
                                    <label asp-for="BranchesAdress" class="control-label"></label>
                                    <input asp-for="BranchesAdress" class="form-control" />
                                    <span asp-validation-for="BranchesAdress" class="text-danger"></span>
                                </div>
                               
                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <label asp-for="CountryId" class="control-label"></label>
                                    <select asp-for="CountryId" id="CountryId" class="js-example-basic-single form-select" asp-items="@(ViewData["country"] as SelectList)">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="GovernorateId" class="control-label"></label>
                                    <select asp-for="GovernorateId" id="GovernorateId" class="js-example-basic-single form-select" asp-items="@(ViewData["governorates"] as SelectList)">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="DirectorateId" class="control-label"></label>
                                    <select asp-for="DirectorateId" id="DirectorateId" class="js-example-basic-single form-select" asp-items="@(ViewData["directorates"] as SelectList)">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="Notes" class="control-label"></label>
                                <input asp-for="Notes" class="form-control" />
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="submit" value="حفظ" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-light" style="color;white">رجوع للقائمة </a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById("submit").addEventListener("click", function (event) {
            const DirectorateId = document.getElementById("DirectorateId");
            const GovernorateId = document.getElementById("GovernorateId");
            const CountryId = document.getElementById("CountryId");
            const CompanyId = document.getElementById("CompanyId");
            if (DirectorateId.value === "") {
                event.preventDefault(); // Prevent form submission
                Swal.fire({
                    icon: "error",
                    title: "خطئ....",
                    text: "رجاء أختر المديرية",
                });
            }
            if (GovernorateId.value === "") {
                event.preventDefault(); // Prevent form submission
                Swal.fire({
                    icon: "error",
                    title: "خطئ....",
                    text: "رجاء أختر المحافظة",
                });
            }
            if (CountryId.value === "") {
                event.preventDefault(); // Prevent form submission
                Swal.fire({
                    icon: "error",
                    title: "خطئ....",
                    text: "رجاء أختر الدولة",
                });
            }
            if (CompanyId.value === "") {
                event.preventDefault(); // Prevent form submission
                Swal.fire({
                    icon: "error",
                    title: "خطئ....",
                    text: "رجاء أختر الشركة",
                });
            }
        });
    </script>
}
