@model N.G.HRS.Areas.MaintenanceControl.ViewModels.ImportFingerPrintToDevice

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "تحميل البصمات";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}


<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../../../dashboard.html"> الرئيسة</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
            مراقبة الدوام
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            العمليات
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a asp-action="Index"> تحميل البصمات من اجهزة البصمة  </a>

        </li>
    </ol>
</nav>

<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card">
                        <div class="card-header">
                            <h3>تحميل البصمات من اجهزة  البصمة</h3>
                        </div>
                        <div class="card-body">

                            <div class="row mb-3 set">

                                <div class="form-group col-md-4">
                                    <label asp-for="FingerprintDevices.Id" class="form-label">أجهزةالبصمة</label><span class="text-danger">*</span>
                                    <select asp-for="FingerprintDevices.Id" id="FingerprintDevices" tabindex="" class="js-example-basic-single  form-select" asp-items="@(ViewData["Device"] as SelectList)">
                                        <option value="" selected disabled></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3 ">
                                    <label asp-for="FromDate" class="form-label"> من تاريخ</label><span class="text-danger">*</span>
                                    <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                        <input asp-for="FromDate" id="FromDate" tabindex="" class="form-control" placeholder="أدخل التاريخ"
                                               data-input />
                                        <span class="input-group-text input-group-addon" data-toggle>
                                            <i data-feather="calendar"></i>
                                        </span>
                                        <span asp-validation-for="FromDate" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-group col-md-3 ">
                                    <label asp-for="ToDate" class="form-label">إلى تاريخ</label><span class="text-danger">*</span>
                                    <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                        <input asp-for="ToDate" id="ToDate" tabindex="" class="form-control" placeholder="أدخل التاريخ"
                                               data-input />
                                        <span class="input-group-text input-group-addon" data-toggle>
                                            <i data-feather="calendar"></i>
                                        </span>
                                        <span asp-validation-for="ToDate" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-md-12 mt-5 stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            @* <h6 class="card-title"></h6> *@
                                            <input type="file" id="myDropify" accept=".txt, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-10 mt-5">

                                    <button class="btn btn-primary" id="Submit">
                                        <span> تحميل </span>
                                        <i data-feather="upload" style="width: 17px;"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            const v = new ValidationFromMe();
            $('#Submit').click(function () {
                const employee = $('#Employee').val();
                // const departments =   $('#Departments').val();
                // const sections =   $('#Sections').val();
                const fingerprintDevices = $('#FingerprintDevices').val();
                const from = $('#FromDate').val();
                const to = $('#ToDate').val();
                if (fingerprintDevices == null) {
                    v.softErrorMessage('يرجى إختيار جهاز البصمة!!');
                }
            });
            //==================================================
            document.getElementById('myDropify').addEventListener('change', function (event) {
                const file = event.target.files[0];
                console.log($('#myDropify').val());
                if (file) {
                    const fileName = file.name;
                    const fileExtension = fileName.split('.').pop().toLowerCase();

                    if (!(['xls', 'xlsx', 'txt'].includes(fileExtension))) {
                        v.softErrorMessage('يجب أن يكون امتداد الملف .xls , .xlsx , txt');
                        event.preventDefault();
                        $('#myDropify').empty();
                    } 
                }
            });
        });
    </script>
}