@model N.G.HRS.Areas.GeneralConfiguration.Models.FingerprintDevices
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";

}
@if (@TempData["massage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["massage"]
    </div>

}

<div class="card">
    <div class="card-body">
        <form asp-action="Create">

        <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h3> تهيئة أجهزة البصمة</h3>
                        </div>
                        <div class="card-body">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label asp-for="DevicesName" class="form-label"></label><span class="text-danger">*</span>
                                    <input asp-for="DevicesName" class="form-control" />
                                    <span asp-validation-for="DevicesName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="DevicesNumber" class="form-label"></label><span class="text-danger">*</span>
                                    <input asp-for="DevicesNumber" class="form-control" />
                                    <span asp-validation-for="DevicesNumber" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label asp-for="DeviceStatus" class="form-label"></label><span class="text-danger">*</span>
                                    <select asp-for="DeviceStatus" class="js-example-basic-single  form-select">
                                        <option value="" selected disabled></option>
                                        <option value="شغال">شغال</option>
                                        <option value="معطل">معطل</option>
                                        <option value="صيانة">تحت الصيانة</option>
                                    </select>

                                    <span asp-validation-for="DeviceStatus" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-5">
                                    <label asp-for="ConnectionType" class="form-label"></label><span class="text-danger">*</span>
                                    <select asp-for="ConnectionType" class="js-example-basic-single  form-select">
                                        <option value="" selected disabled></option>
                                        <option value="Ip">عبر الـ IP</option>
@*                                         <option value="غير متصل">غير متصل</option>
 *@                                        </select>

                                    <span asp-validation-for="ConnectionType" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-7 ">
                                    <label asp-for="DateOfPurchase" class="form-label"></label><span class="text-danger">*</span>
                                    <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                        <input asp-for="DateOfPurchase" id="Date" tabindex="1" class="form-control" placeholder="أدخل التاريخ"
                                               data-input />
                                        <span class="input-group-text input-group-addon" data-toggle>
                                            <i data-feather="calendar"></i>
                                        </span>
                                        <span asp-validation-for="DateOfPurchase" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label asp-for="VendorName" class="form-label"></label><span class="text-danger">*</span>
                                    <input asp-for="VendorName" class="form-control" />
                                    <span asp-validation-for="VendorName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="VendorPhon" class="form-label"></label><span class="text-danger">*</span>
                                    <input asp-for="VendorPhon" class="form-control" />
                                    <span asp-validation-for="VendorPhon" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label asp-for="VendorAdress" class="form-label"></label><span class="text-danger">*</span>
                                <input asp-for="VendorAdress" class="form-control" />
                                <span asp-validation-for="VendorAdress" class="text-danger"></span>
                            </div>
                            <div class="row mb-3">
                                
                                <div class="form-group col-md-6">
                                    <label asp-for="ManufactureCompany" class="form-label"></label><span class="text-danger">*</span>
                                    <input asp-for="ManufactureCompany" class="form-control" />
                                    <span asp-validation-for="ManufactureCompany" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="DeviceSpecifications" class="form-label"></label><span class="text-danger">*</span>
                                    <input asp-for="DeviceSpecifications" class="form-control" />
                                    <span asp-validation-for="DeviceSpecifications" class="text-danger"></span>
                                </div>
                            </div>
                            

                            <div class="form-group mb-3">
                                <label asp-for="Notes" class="form-label"></label>
                                <input asp-for="Notes" class="form-control" />
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div >
                            <div class="form-group">
                                <input type="submit" value="حفظ" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-light">رجوع الى القائمة</a>

                            </div>
                        </div>
                    </div>
                </div>
                @* //==================================================== *@
                <div class="col-md-4">
                    <div class="card ">
                        <div class="card-header">
                            <h4>إعدادات الاتصال</h4>
                        </div>
                        
                        <div class="card-body">
                            <div class="form-group mb-3">

                                <label asp-for="DeviceType" class="form-label"></label><span class="text-danger">*</span>
                                <select asp-for="DeviceType" class="js-example-basic-single  form-select">
                                    <option value="" selected disabled></option>
                                    <option value="ZK">zkemkeeper</option>
                                </select>
                                <span asp-validation-for="DeviceType" class="text-danger"></span>
                            </div>
                            
                            <div class="IpAddressGroup">
                                <div class="mb-3" >
                                    <label asp-for="IpAddress" class="form-label"></label>
                                    <input asp-for="IpAddress" type="text" id="ipAddress" class="form-control" />
                                    <span asp-validation-for="IpAddress" class="text-danger"></span>
                                </div>
                                <div >
                                    <button type="button" id="pingButton" class="btn btn-primary"> Ping</button>
                                    <button type="button" id="connectButton" class="btn btn-primary"> إتصال</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </form>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            const v = new ValidationFromMe();
            
            $("#pingButton").click(function () {
                const ip = $("#ipAddress").val();
                if (ip !== "") {
                    $.ajax({
                        url: "/GeneralConfiguration/FingerprintDevices/Ping?ip=" + ip,
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            if (data == 1) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'الجهاز موجود😎',
                                    iconColor: "#28a745",
                                    confirmButtonColor: "#28a745",
                                    confirmButtonText: "حسنا",
                                });
                            }
                            else if (data == 2) {
                                v.softErrorMessage('الجهاز غير موجود😪');

                            }

                            else if (data == 3) {
                                v.softErrorMessage('الـ IP غير صحيح');

                            }
                            // $.each(data, function (i, item) {
                            //     $("#Section").val(item.id).change();
                            // });
                        },
                    });
                }
                else{
                    v.softErrorMessage('يرجى إدخال الـ IP بشكل صحيح!!');
                }
            });
            //===============================
            //=
            //===============================
            $("#connectButton").click(function () {
                
                const ip = $("#ipAddress").val();
                if (ip !== "") {
                    $.ajax({
                        url: "/GeneralConfiguration/FingerprintDevices/Connect?ip=" + ip,
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            if (data == 1) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'الجهاز متصل👍😎',
                                    iconColor: "#28a745",
                                    confirmButtonColor: "#28a745",
                                    confirmButtonText: "حسنا",
                                });
                            }
                            else if (data == 2) {
                                v.softErrorMessage('قد يكون عنوان الـ IP خطئ , أو الجهاز غير موجود😪');
                            }
                            else if (data == 4) {
                                v.softErrorMessage('الـ IP غير صحيح');
                            }
                            //========================
                            
                        },
                    });
                    //=======================
                    let timerInterval;
                    Swal.fire({
                        title: "جاري الإتصال 😵",
                        timer: 10000,
                  
                        timerProgressBar: false,
                        customClass: {
                            container: '#e5b540',
                            icon: '#e5b540',
                            htmlContainer: '#e5b540',
                            timerProgressBar: '#e5b540',
                        },
                        didOpen: () => {
                            Swal.showLoading();
                            const timer = Swal.getPopup().querySelector("b");
                            timerInterval = setInterval(() => {
                                timer.textContent = `${Swal.getTimerLeft()}`;
                            }, 100);
                        },
                        willClose: () => {
                            clearInterval(timerInterval);
                        }
                    }).then((result) => {
                        /* Read more about handling dismissals below */
                        if (result.dismiss === Swal.DismissReason.timer) {

                        }
                    });
                }
                else{
                    v.softErrorMessage('يرجى إدخال الـ IP بشكل صحيح!!');
                }
            });
        });
    </script>
}





