@model N.G.HRS.Areas.GeneralConfiguration.Models.FingerprintDevices

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FingerprintDevices</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DevicesName" class="control-label"></label>
                <input asp-for="DevicesName" class="form-control" />
                <span asp-validation-for="DevicesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceType" class="control-label"></label>
                <input asp-for="DeviceType" class="form-control" />
                <span asp-validation-for="DeviceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceStatus" class="control-label"></label>
                <input asp-for="DeviceStatus" class="form-control" />
                <span asp-validation-for="DeviceStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConnectionType" class="control-label"></label>
                <input asp-for="ConnectionType" class="form-control" />
                <span asp-validation-for="ConnectionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPurchase" class="control-label"></label>
                <input asp-for="DateOfPurchase" class="form-control" />
                <span asp-validation-for="DateOfPurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="VendorName" class="form-control" />
                <span asp-validation-for="VendorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorPhon" class="control-label"></label>
                <input asp-for="VendorPhon" class="form-control" />
                <span asp-validation-for="VendorPhon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorAdress" class="control-label"></label>
                <input asp-for="VendorAdress" class="form-control" />
                <span asp-validation-for="VendorAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactureCompany" class="control-label"></label>
                <input asp-for="ManufactureCompany" class="form-control" />
                <span asp-validation-for="ManufactureCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceSpecifications" class="control-label"></label>
                <input asp-for="DeviceSpecifications" class="form-control" />
                <span asp-validation-for="DeviceSpecifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
