@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger"><h4 class="text-danger">تم قفل هذا الحساب، يرجى إعادة المحاولة لاحقا</h4>.</p>
</header>

