@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            <a href="https://aka.ms/aspaccountconf">هذه المستندات</a> 
             <a id="confirm-link" href="@Model.EmailConfirmationUrl">انقر هنا لتأكيد حسابك</a>
</p>
    }
    else
    {
<p>
            يرجى التحقق من بريدك الإلكتروني لتأكيد حسابك.
</p>
    }
}

