@model N.G.HRS.Areas.EmployeesAffsirs.Models.AdministrativeDecisions

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AdministrativeDecisions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeStatus" class="control-label"></label>
                <input asp-for="EmployeeStatus" class="form-control" />
                <span asp-validation-for="EmployeeStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryStartDate" class="control-label"></label>
                <input asp-for="SalaryStartDate" class="form-control" />
                <span asp-validation-for="SalaryStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyId" class="control-label"></label>
                <select asp-for="CurrencyId" class="form-control" asp-items="ViewBag.CurrencyId"></select>
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeementReson" class="control-label"></label>
                <input asp-for="EmployeementReson" class="form-control" />
                <span asp-validation-for="EmployeementReson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeementOn" class="control-label"></label>
                <input asp-for="EmployeementOn" class="form-control" />
                <span asp-validation-for="EmployeementOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

