@model N.G.HRS.Areas.AttendanceAndDeparture.Models.StaffTime

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StaffTime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WorksFullTimeFromDate" class="control-label"></label>
                <input asp-for="WorksFullTimeFromDate" class="form-control" />
                <span asp-validation-for="WorksFullTimeFromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermanenceModelsId" class="control-label"></label>
                <select asp-for="PermanenceModelsId" class="form-control" asp-items="ViewBag.PermanenceModelsId"></select>
                <span asp-validation-for="PermanenceModelsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionsId" class="control-label"></label>
                <select asp-for="SectionsId" class="form-control" asp-items="ViewBag.SectionsId"></select>
                <span asp-validation-for="SectionsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodId" class="control-label"></label>
                <input asp-for="PeriodId" class="form-control" />
                <span asp-validation-for="PeriodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
