@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Active"] = "Privacy";
    ViewData["Open"] = "Open";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
    
</ul>
<div class="tab-content border border-top-0 p-3" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>

<div class="page-content">



    <div class="row rowmargin">
        <div class="col-md-12 stretch-card">

            <div class="card">
                <div class="card-body">
                    <h6 class="card-title headerStyle">بيانات الموظفين</h6>
                    <br>
                    <br>
                    <br>
                    <hr style="color: black;">
                    <br>
                    <form>
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="mb-3">
                                    <input type="hidden" class="form-control" placeholder="Enter last name" />
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-5">
                                <div class="mb-3">
                                    <label class="form-label">الرقم الوظيفي</label>
                                    <input type="text" class="form-control" placeholder="Enter last name" />
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-5">
                                <div class="mb-3">
                                    <label class="form-label">الرقم الوظيفي</label>
                                    <input type="text" class="form-control" placeholder="Enter last name" />
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-1">
                                <div class="mb-3">
                                    <input type="hidden" class="form-control" placeholder="Enter last name" />
                                </div>
                            </div>
                            <!-- Col -->
                        </div>
                        <!-- Row -->
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="mb-3">
                                    <label class="form-label">اسم الموظف</label>
                                    <input type="text" class="form-control" placeholder="Enter first name" />
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">المشرف المباشر</label>
                                    <input type="text" class="form-control" placeholder="Enter first name" />
                                </div>
                            </div>
                            <!-- Col -->
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label class="form-label">الادارة</label>
                                    <input type="text" class="form-control" placeholder="Enter city" />
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label class="form-label">القسم</label>
                                    <input type="text" class="form-control" placeholder="Enter state" />
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label class="form-label">الوظيفة</label>
                                    <input type="text" class="form-control" placeholder="Enter zip code" />
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label class="form-label">حالة الموظف</label>
                                    <input type="email" class="form-control" placeholder="Enter email" />
                                </div>
                            </div>
                            <!-- Col -->
                        </div>
                        <!-- Row -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">حالة الموظف</label>
                                    <input type="email" class="form-control" placeholder="Enter email" />
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">تاريخ التوضيف</label>
                                    <div class="input-group flatpickr" id="flatpickr-date">
                                        <input type="text" class="form-control" placeholder="Select date" data-input>
                                        <span class="input-group-text input-group-addon" data-toggle>
                                            <i data-feather="calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">تاريخ التثبيت</label>
                                    <div class="input-group flatpickr" id="flatpickr-date">
                                        <input type="text" class="form-control" placeholder="Select date" data-input>
                                        <span class="input-group-text input-group-addon" data-toggle>
                                            <i data-feather="calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Col -->
                        </div>
                        <!-- Row -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">اسم المستخدم</label>
                                    <input type="email" class="form-control" placeholder="Enter email" />
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label class="form-label">تاريخ إعادة التوظيف</label>
                                    <div class="input-group flatpickr" id="flatpickr-date">
                                        <input type="text" class="form-control" placeholder="Select date" data-input>
                                        <span class="input-group-text input-group-addon" data-toggle>
                                            <i data-feather="calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label class="form-label">تاريخ إيقاف التوظيف:</label>
                                    <div class="input-group flatpickr" id="flatpickr-date">
                                        <input type="text" class="form-control" placeholder="Select date" data-input>
                                        <span class="input-group-text input-group-addon" data-toggle>
                                            <i data-feather="calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Col -->
                        </div>
                        <!-- Row -->
                        <div class="row eff">
                            <div class="col-sm-6">
                                <div class="form-check mb-3">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                                    <label class="form-check-label" for="exampleCheck1">
                                        يستخدم جهاز البصمة
                                    </label>
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-6">
                                <div class="form-check mb-3">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                                    <label class="form-check-label" for="exampleCheck1">
                                        خاضع للتأمين
                                    </label>
                                </div>
                            </div>
                            <!-- Col -->


                        </div>
                        <!--  -->
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">جهاز البصمة</label>
                                    <input class="form-control mb-4 mb-md-0" data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="dd/mm/yyyy" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label"> تاريخ التأمين</label>
                                    <div class="input-group flatpickr" id="flatpickr-date">
                                        <input type="text" class="form-control" placeholder="Select date" data-input>
                                        <span class="input-group-text input-group-addon" data-toggle>
                                            <i data-feather="calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Col -->

                        </div>

                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-12 stretch-card">

                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">صورة الموظف</h6>

                                        <input type="file" id="myDropify" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="row rowmargin">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <!--  -->
                    <div class="card-body">
                        <h6 class="card-title headerStyle"> البيانات الشخصية</h6>
                        <br>
                        <br>
                        <br>
                        <hr style="color: black;">
                        <br>
                        <div class="collapse multi-collapse" id="collapseExample">


                            <form>

                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-sm-5">
                                        <div class="mb-3">
                                            <label class="form-label">الجنس</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mb-3">
                                            <label class="form-label">تاريخ الميلاد:</label>
                                            <div class="input-group flatpickr" id="flatpickr-date">
                                                <input type="text" class="form-control" placeholder="Select date" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" readonly>
                                        <div class="mb-3">
                                            <label class="form-label">العمر</label>
                                            <input readonly type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-sm-5">
                                        <div class="mb-3">
                                            <label class="form-label">الجنسية</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="mb-3">
                                            <label class="form-label">الديانة</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label class="form-label">هاتف المنزل</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label">الموبايل</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mb-3">
                                            <label class="form-label">الايميل</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>
                                <div class="row">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title"> بيانات البطاقة</h6>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="mb-3">
                                                        <label class="form-label"> نوع البطاقة</label>
                                                        <input type="text" class="form-control" placeholder="Enter last name" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="mb-3">
                                                        <label class="form-label">رقم البطاقة</label>
                                                        <input type="text" class="form-control" placeholder="Enter last name" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">صادرة من</label>
                                                        <input type="text" class="form-control" placeholder="Enter last name" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">تاريخ الاصدار:</label>
                                                        <div class="input-group flatpickr" id="flatpickr-date">
                                                            <input type="text" class="form-control" placeholder="Select date" data-input>
                                                            <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">تاريخ الانتهاء:</label>
                                                        <div class="input-group flatpickr" id="flatpickr-date">
                                                            <input type="text" class="form-control" placeholder="Select date" data-input>
                                                            <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label">العنوان</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label">الملاحظات</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>
                                <!-- Row -->
                                <br />

                            </form>
                        </div>
                    </div>
                    <!--  -->
                </div>
                <!-- <button class="btn btn-primary routate" type="button" data-bs-toggle="collapse"
                    role="button" data-bs-target=".collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
                    <i class="link-icon link-arrow " data-feather="chevron-down"></i>
                </button> -->
                <a href="#collapseExample" class="btn btn-primary routate" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="link-icon link-arrow" data-feather="chevron-down"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row rowmargin">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <!--  -->
                    <div class="card-body">
                        <h6 class="card-title headerStyle"> بيانات الضمين</h6>
                        <br>
                        <br>
                        <br>
                        <hr style="color: black;">
                        <br>
                        <div class="collapse multi-collapse" id="Guarantees">
                            <form>
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-sm-7">
                                        <div class="mb-3">
                                            <label class="form-label">اسم الضمين</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>

                                    <div class="col-sm-5">
                                        <div class="mb-3">
                                            <label class="form-label"> الموبايل</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-sm-7">
                                        <div class="mb-3">
                                            <label class="form-label">اسم المحل التجاري</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mb-3">
                                            <label class="form-label">رقم السجل</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>
                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label"> عنوان المحل التجاري</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label class="form-label"> عنوان السكن الدائم</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label">الحالة الاجتماعية</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mb-3">
                                            <label class="form-label">عدد من يعول</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>
                                <br />

                            </form>
                        </div>
                    </div>
                    <!--  -->
                </div>
                <!-- <button class="btn btn-primary routate" type="button" data-bs-toggle="collapse"
                    role="button" data-bs-target=".collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
                    <i class="link-icon link-arrow " data-feather="chevron-down"></i>
                </button> -->
                <a href="#Guarantees" class="btn btn-primary routate" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="Guarantees">
                    <i class="link-icon link-arrow" data-feather="chevron-down"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row rowmargin">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <!--  -->
                    <div class="card-body">
                        <h6 class="card-title headerStyle"> البيانات المالية</h6>
                        <br>
                        <br>
                        <br>
                        <hr style="color: black;">
                        <br>
                        <div class="collapse multi-collapse" id="FinintialStatement">
                            <form>
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-sm-5">
                                        <div class="mb-3">
                                            <label class="form-label">طبيعة التوظيف</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="mb-3">
                                            <label class="form-label">الراتب الاساسي</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label class="form-label">العملة</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label class="form-label">رقم حساب التأمين</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label class="form-label">رقم الحساب البنكي</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>

                                    <!-- Col -->
                                </div>
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label class="form-label">تاريخ بداية الاجر:</label>
                                            <div class="input-group flatpickr" id="flatpickr-date">
                                                <input type="text" class="form-control" placeholder="Select date" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label class="form-label">تاريخ نهاية الاجر:</label>
                                            <div class="input-group flatpickr" id="flatpickr-date">
                                                <input type="text" class="form-control" placeholder="Select date" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>

                                <div class="row eff">
                                    <!-- Col -->
                                    <div class="form-check form-check-inline col-sm-3">
                                        <input type="checkbox" name="skill_check" class="form-check-input" id="checkInline1">
                                        <label class="form-check-label" for="checkInline1">
                                            تمديد الراتب
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="mb-3">
                                            <label class="form-label"> الى</label>
                                            <div class="input-group flatpickr" id="flatpickr-date">
                                                <input type="text" class="form-control" placeholder="Select date" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Col -->
                                </div>
                                <div class="row">
                                    <!-- Col -->
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <label class="form-label">الملاحظات</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" />
                                        </div>
                                    </div>
                                    <!-- Col -->
                                </div>
                                <!-- Row -->
                                <br />

                            </form>
                        </div>
                    </div>
                    <!--  -->
                </div>
                <!-- <button class="btn btn-primary routate" type="button" data-bs-toggle="collapse"
                    role="button" data-bs-target=".collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
                    <i class="link-icon link-arrow " data-feather="chevron-down"></i>
                </button> -->
                <a href="#FinintialStatement" class="btn btn-primary routate" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="FinintialStatement">
                    <i class="link-icon link-arrow" data-feather="chevron-down"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row rowmargin">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <!--  -->
                    <div class="card-body">
                        <h6 class="card-title headerStyle">المؤهلات </h6>
                 
                        <hr style="color: black;">
                        <br>
                        <div class="collapse multi-collapse" id="presonalData">
                            <form id="multiAddForm">
                                <div id="formFields">
                                    <!-- Initial set of form fields -->
                                    <div class="form-field">

                                        <!--  -->
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="Qali" class="form-label">المؤهل</label>
                                                    <input name="Qali[]" type="text" class="form-control" placeholder="Enter last name" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="Spiti" class="form-label">التخصص</label>
                                                    <input name="Spiti[]" type="text" class="form-control" placeholder="Enter last name" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="PlaceYouHaveIt" class="form-label">
                                                        جهة
                                                        الحصول علية
                                                    </label>
                                                    <input name="PlaceYouHaveIt[]" type="text" class="form-control" placeholder="Enter last name" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="DateYouHaveIt" class="form-label">
                                                        تاريخ
                                                        الحصول علية:
                                                    </label>
                                                    <div class="input-group flatpickr" id="flatpickr-date">
                                                        <input name="DateYouHaveIt[]" type="text" class="form-control" placeholder="Select date" data-input>
                                                        <span class="input-group-text input-group-addon" data-toggle>
                                                            <i data-feather="calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Col -->
                                        </div>

                                        <!-- Row -->
                                        <br />
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-primary submit" type="button" onclick="addFormField()">
                                <i class="link-icon" data-feather="plus"></i>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                </div>

                <a href="#presonalData" class="btn btn-primary routate" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="presonalData">
                    <i class="link-icon link-arrow" data-feather="chevron-down"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- =========================================================== -->
    <!-- =========================================================== -->
    <!-- =========================================================== -->
    <div class="row rowmargin">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <!--  -->
                    <div class="card-body">
                        <h6 class="card-title headerStyle">الخبرات العملية </h6>
                        <br>
                        <br>
                        <br>
                        <hr style="color: black;">
                        <br>
                        <div class="collapse multi-collapse" id="PracticalExperiences">
                            <form id="multiAddForm">
                                <div id="PracticalExperiencesMultiForm">
                                    <!-- Initial set of form fields -->
                                    <div class="Practical-Experiences-MultiForm">

                                        <!--  -->
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="typeOfPractical" class="form-label">
                                                        نوع
                                                        الخبرة
                                                    </label>
                                                    <input name="typeOfPractical[]" type="text" class="form-control" placeholder="Enter last name" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="nameOfCompany" class="form-label">
                                                        اسم
                                                        الشركة/المؤسسة
                                                    </label>
                                                    <input name="nameOfCompany[]" type="text" class="form-control" placeholder="Enter last name" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="fromDate" class="form-label">
                                                        من
                                                        تاريخ
                                                    </label>
                                                    <div class="input-group flatpickr" id="flatpickr-date">
                                                        <input name="fromDate[]" type="text" class="form-control" placeholder="Select date" data-input>
                                                        <span class="input-group-text input-group-addon" data-toggle>
                                                            <i data-feather="calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="toDate" class="form-label">الى تاريخ</label>
                                                    <div class="input-group flatpickr" id="flatpickr-date">
                                                        <input name="toDate[]" type="text" class="form-control" placeholder="Select date" data-input>
                                                        <span class="input-group-text input-group-addon" data-toggle>
                                                            <i data-feather="calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Col -->
                                        </div>

                                        <!-- Row -->
                                        <br />
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-primary submit" type="button" onclick="PracticaladdFormField()">
                                <i class="link-icon" data-feather="plus"></i>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                </div>

                <a href="#PracticalExperiences" class="btn btn-primary routate" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="PracticalExperiences">
                    <i class="link-icon link-arrow" data-feather="chevron-down"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row rowmargin">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <!--  -->
                    <div class="card-body">
                        <h6 class="card-title headerStyle"> الدورات التدريبية </h6>
                        <br>
                        <br>
                        <br>
                        <hr style="color: black;">
                        <br>
                        <div class="collapse multi-collapse" id="TrainingCourse">
                            <form id="multiAddForm">
                                <div id="TrainingCourseMultiForm">
                                    <!-- Initial set of form fields -->
                                    <div class="Training-Course-Multi-Form">

                                        <!--  -->
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="TrainingCourse" class="form-label">الدورة التدريبية</label>
                                                    <input name="TrainingCourse[]" type="text" class="form-control" placeholder="Enter last name" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="nameOfPlaceYouHaveIt" class="form-label">جهة الحصول علية</label>
                                                    <input name="nameOfPlaceYouHaveIt[]" type="text" class="form-control" placeholder="Enter last name" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="fromDate" class="form-label">
                                                        من
                                                        تاريخ
                                                    </label>
                                                    <div class="input-group flatpickr" id="flatpickr-date">
                                                        <input name="fromDate[]" type="text" class="form-control" placeholder="Select date" data-input>
                                                        <span class="input-group-text input-group-addon" data-toggle>
                                                            <i data-feather="calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="toDate" class="form-label">الى تاريخ</label>
                                                    <div class="input-group flatpickr" id="flatpickr-date">
                                                        <input name="toDate[]" type="text" class="form-control" placeholder="Select date" data-input>
                                                        <span class="input-group-text input-group-addon" data-toggle>
                                                            <i data-feather="calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Col -->
                                        </div>

                                        <!-- Row -->
                                        <br />
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-primary submit" type="button" onclick="TrainingaddFormField()">
                                <i class="link-icon" data-feather="plus"></i>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                </div>

                <a href="#TrainingCourse" class="btn btn-primary routate" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="TrainingCourse">
                    <i class="link-icon link-arrow" data-feather="chevron-down"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row rowmargin">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <!--  -->
                    <div class="card-body">
                        <h6 class="card-title headerStyle">بيانات ملف الموظف </h6>
                        <br>
                        <br>
                        <br>
                        <hr style="color: black;">
                        <br>
                        <div class="collapse multi-collapse" id="EmployeeStatementFile">
                            <form id="multiAddForm">
                                <div id="EmployeeStatementFileMulti">
                                    <!-- Initial set of form fields -->
                                    <div class="Employee-Statement-File-Multi">

                                        <!--  -->
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <div class="mb-3">
                                                    <label for="typeOfPractical" class="form-label">
                                                        الملف
                                                    </label>
                                                    <input name="typeOfPractical[]" type="text" class="form-control" placeholder="Enter last name" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label for="nameOfCompany" class="form-label">
                                                        حالة
                                                        الملف
                                                    </label>
                                                    <input name="nameOfCompany[]" type="text" class="form-control" placeholder="Enter last name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="mb-3">
                                                    <label for="nameOfCompany" class="form-label">
                                                        الملاحظات
                                                    </label>
                                                    <input name="nameOfCompany[]" type="text" class="form-control" placeholder="Enter last name" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Row -->
                                        <br />
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-primary submit" type="button" onclick="StatementaddFormField()">
                                <i class="link-icon" data-feather="plus"></i>
                            </button>
                        </div>
                    </div>
                    <!--  -->
                </div>

                <a href="#EmployeeStatementFile" class="btn btn-primary routate" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="EmployeeStatementFile">
                    <i class="link-icon link-arrow" data-feather="chevron-down"></i>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Horizontal wizard</h4>
                <p class="text-muted mb-3">Read the <a href="http://www.jquery-steps.com/GettingStarted" target="_blank"> Official jQuery Steps Documentation </a>for a full list of instructions and other options.</p>
                <div id="wizard">
                    <h2>First Step</h2>
                    <section>
                        <h4>First Step</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut nulla nunc. Maecenas arcu sem, hendrerit a tempor quis,
                            sagittis accumsan tellus. In hac habitasse platea dictumst. Donec a semper dui. Nunc eget quam libero. Nam at felis metus.
                            Nam tellus dolor, tristique ac tempus nec, iaculis quis nisi.
                        </p>
                    </section>

                    <h2>Second Step</h2>
                    <section>
                        <h4>Second Step</h4>
                        <p>
                            Donec mi sapien, hendrerit nec egestas a, rutrum vitae dolor. Nullam venenatis diam ac ligula elementum pellentesque.
                            In lobortis sollicitudin felis non eleifend. Morbi tristique tellus est, sed tempor elit. Morbi varius, nulla quis condimentum
                            dictum, nisi elit condimentum magna, nec venenatis urna quam in nisi. Integer hendrerit sapien a diam adipiscing consectetur.
                            In euismod augue ullamcorper leo dignissim quis elementum arcu porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vestibulum leo velit, blandit ac tempor nec, ultrices id diam. Donec metus lacus, rhoncus sagittis iaculis nec, malesuada a diam.
                            Donec non pulvinar urna. Aliquam id velit lacus.
                        </p>
                    </section>

                    <h2>Third Step</h2>
                    <section>
                        <h4>Third Step</h4>
                        <p>
                            Morbi ornare tellus at elit ultrices id dignissim lorem elementum. Sed eget nisl at justo condimentum dapibus. Fusce eros justo,
                            pellentesque non euismod ac, rutrum sed quam. Ut non mi tortor. Vestibulum eleifend varius ullamcorper. Aliquam erat volutpat.
                            Donec diam massa, porta vel dictum sit amet, iaculis ac massa. Sed elementum dui commodo lectus sollicitudin in auctor mauris
                            venenatis.
                        </p>
                    </section>

                    <h2>Fourth Step</h2>
                    <section>
                        <h4>Fourth Step</h4>
                        <p>
                            Quisque at sem turpis, id sagittis diam. Suspendisse malesuada eros posuere mauris vehicula vulputate. Aliquam sed sem tortor.
                            Quisque sed felis ut mauris feugiat iaculis nec ac lectus. Sed consequat vestibulum purus, imperdiet varius est pellentesque vitae.
                            Suspendisse consequat cursus eros, vitae tempus enim euismod non. Nullam ut commodo tortor.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
@* 
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Vertical Wizard</h4>
                <div id="wizardVertical">
                    <h2>First Step</h2>
                    <section>
                        <h4>First Step</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut nulla nunc. Maecenas arcu sem, hendrerit a tempor quis,
                            sagittis accumsan tellus. In hac habitasse platea dictumst. Donec a semper dui. Nunc eget quam libero. Nam at felis metus.
                            Nam tellus dolor, tristique ac tempus nec, iaculis quis nisi.
                        </p>
                    </section>

                    <h2>Second Step</h2>
                    <section>
                        <h4>Second Step</h4>
                        <p>
                            Donec mi sapien, hendrerit nec egestas a, rutrum vitae dolor. Nullam venenatis diam ac ligula elementum pellentesque.
                            In lobortis sollicitudin felis non eleifend. Morbi tristique tellus est, sed tempor elit. Morbi varius, nulla quis condimentum
                            dictum, nisi elit condimentum magna, nec venenatis urna quam in nisi. Integer hendrerit sapien a diam adipiscing consectetur.
                            In euismod augue ullamcorper leo dignissim quis elementum arcu porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vestibulum leo velit, blandit ac tempor nec, ultrices id diam. Donec metus lacus, rhoncus sagittis iaculis nec, malesuada a diam.
                            Donec non pulvinar urna. Aliquam id velit lacus.
                        </p>
                    </section>

                    <h2>Third Step</h2>
                    <section>
                        <h4>Third Step</h4>
                        <p>
                            Morbi ornare tellus at elit ultrices id dignissim lorem elementum. Sed eget nisl at justo condimentum dapibus. Fusce eros justo,
                            pellentesque non euismod ac, rutrum sed quam. Ut non mi tortor. Vestibulum eleifend varius ullamcorper. Aliquam erat volutpat.
                            Donec diam massa, porta vel dictum sit amet, iaculis ac massa. Sed elementum dui commodo lectus sollicitudin in auctor mauris
                            venenatis.
                        </p>
                    </section>

                    <h2>Fourth Step</h2>
                    <section>
                        <h4>Fourth Step</h4>
                        <p>
                            Quisque at sem turpis, id sagittis diam. Suspendisse malesuada eros posuere mauris vehicula vulputate. Aliquam sed sem tortor.
                            Quisque sed felis ut mauris feugiat iaculis nec ac lectus. Sed consequat vestibulum purus, imperdiet varius est pellentesque vitae.
                            Suspendisse consequat cursus eros, vitae tempus enim euismod non. Nullam ut commodo tortor.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div> *@




