@model N.G.HRS.Areas.GeneralConfiguration.Models.Governorate
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "المحافظات";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<h1>Create</h1>

<h4>Governorate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="addGovernorateForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="Governorate" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" id="GovernorateNotes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" id="CountryId" class="js-example-basic-single form-select" asp-items="ViewBag.CountryId">
                    <option value="">  </option>
                </select>
            </div>
            <div class="form-group">
                <input type="button" id="addGovernorateBtn" value="اضافة " class="btn btn-primary" />
                <input type="button" value=" حفظ البيانات " class="btn btn-primary me-2" id="saveDataBtn" style="display:none" />
                <a asp-action="Index" class="btn btn-primary">الرجوع الى القائمة</a>
                <button type="button" id="clearTableBtn" style="display:none" class="btn btn-danger">حذف الكل</button>
                <a asp-action="ExportToExcel" class="btn btn-primary">تصدير إلى Excel</a>

            </div>
        </form>
    </div>
</div>
@*         //============================استيراد ملف   اكسل المحافظات الى قاعدة البيانات=======
 *@

@using (Html.BeginForm("Import", "Governorates", FormMethod.Post, new { enctype = "multipart/form-data", id = "importForm" }))
{
    <div class="mb-3">
        <label class="form-label">اختر ملف Excel</label>
        <input type="file" name="file" class="form-control" accept=".xls,.xlsx" id="fileInput">
    </div>
    <button type="submit" class="btn btn-primary" id="uploadBtn" style="display: none;">تحميل الملف</button>
    <div id="fileError" class="text-danger" style="display: none;"></div>
}
@*         //============================استيراد ملف اكسل الى قاعدة البيانات=======
 *@

<table id="temporaryTable" class="table" style="display:none;">
    <thead>
        <tr>
            <th>#</th>
            <th> المحافظة</th>
            <th>الملاحظات</th>
            <th>الدولة</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {


    <script>
        document.getElementById('fileInput').addEventListener('change', function () {
            var uploadBtn = document.getElementById('uploadBtn');
            var fileError = document.getElementById('fileError');
            var fileName = this.value.toLowerCase();

            // التحقق من امتداد الملف
            if (fileName.endsWith('.xls') || fileName.endsWith('.xlsx')) {
                uploadBtn.style.display = 'inline-block'; // عرض زر التحميل
                fileError.style.display = 'none'; // إخفاء رسالة الخطأ
            } else {
                uploadBtn.style.display = 'none'; // إخفاء زر التحميل
                fileError.style.display = 'block'; // عرض رسالة الخطأ
                this.value = ''; // إعادة تعيين قيمة الملف المختار
                Swal.fire({
                    icon: 'error',
                    title: 'يجب اختيار ملف بصيغة Excel فقط!',
                    showConfirmButton: false,
                    timer: 2000 // يغلق التنبيه تلقائيا بعد 2 ثانية
                });
            }
        });
    </script>

    <script>



        $(document).ready(function () {
            var counter = 1;

            // التحقق من وجود المديرية
            function CheckGovernoratesExists(governorate, callback) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CheckGovernoratesExists", "Governorates")",
                    data: { governorate: governorate },
                    success: function (response) {
                        callback(response.exists);
                    },
                    error: function (xhr, status, error) {
                        console.log("حدث خطأ أثناء التحقق من وجود المحافظة: " + error);
                    }
                });
            }

            $("#addGovernorateBtn").click(function (event) {
                event.preventDefault();
                var governorate = $("#Governorate").val();
                var notes = $("#GovernorateNotes").val();
                var countryId = $("#CountryId").val();
                var countryName = $("#CountryId option:selected").text();

                CheckGovernoratesExists(governorate, function (exists) {
                    if (exists) {
                        Swal.fire({
                            icon: "error",
                            title: "اسم المحافظة  موجود بالفعل في قاعدة البيانات"
                        });
                    } else if (governorate === "") {
                        Swal.fire({
                            icon: "error",
                            title: "الرجاء ادخال المحافظة!",
                        });
                    } else if (countryId === "") {
                        Swal.fire({
                            icon: "error",
                            title: "الرجاء اختيار الدولة!",
                        });
                    } else {
                        $("#temporaryTable tbody").append(
                            "<tr>" +
                            "<td>" + counter + "</td>" +
                            "<td>" + governorate + "</td>" +
                            "<td>" + notes + "</td>" +
                            "<td>" + countryName + "</td>" +
                            "<td style='display:none' class='countryId'>" + countryId + "</td>" +
                            "<td><button type='button' class='btn btn-danger delete-row'>Delete</button></td>" +
                            "</tr>"
                        );
                        counter++;
                        $("#Governorate").val('');
                        $("#GovernorateNotes").val('');
                        // $("#CountryId").val('');

                        $("#clearTableBtn").show();
                        $("#temporaryTable").show();
                        $("#saveDataBtn").show();
                    }
                });
            });

            $("#saveDataBtn").click(function (event) {
                Swal.fire({
                    title: 'هل أنت متأكد؟',
                    text: "هل تريد حفظ جميع البيانات؟",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'نعم!',
                    cancelButtonText: 'لا '
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#temporaryTable tr").each(function () {
                            var governorate = $(this).find("td:eq(1)").text();
                            var notes = $(this).find("td:eq(2)").text();
                            var countryId = $(this).find("td:eq(4)").text();
                            if (governorate && countryId) {
                                SaveGovernorateData(governorate, notes ? notes : "", countryId);
                            }
                        });
                    }
                });
            });

            $(document).on("click", ".delete-row", function () {
                $(this).closest("tr").remove();
                counter--;
                Swal.fire('تم الحذف!', 'تم حذف البيانات بنجاح.', 'success');
                if ($("#temporaryTable tbody tr").length === 0) {
                    $("#saveDataBtn").hide();
                    $("#clearTableBtn").hide();
                }
            });

            $("#clearTableBtn").click(function () {
                Swal.fire({
                    title: 'هل أنت متأكد؟',
                    text: "هل تريد حذف جميع البيانات!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'نعم، احذف الكل'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#temporaryTable tbody").empty();
                        counter = 1;
                        $("#saveDataBtn").hide();
                        $("#clearTableBtn").hide();
                        $("#temporaryTable").hide();
                        Swal.fire('تم الحذف!', 'تم حذف جميع البيانات بنجاح.', 'success');
                    }
                });
            });

            function SaveGovernorateData(governorate, notes, countryId) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveGovernorateData", "Governorates")",
                    data: { governorate: governorate, notes: notes, countryId: countryId },
                    success: function (response) {
                        Swal.fire('تم الحفظ!', 'تم حفظ جميع البيانات بنجاح.', 'success').then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "@Url.Action("Index")";
                            }
                        });
                    },
                    error: function (xhr, status, error) {
                        alert("حدث خطأ أثناء حفظ البيانات: " + error);
                    }
                });
            }
        });
    </script>

}
