@model N.G.HRS.Areas.OrganizationalChart.Models.Company
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "جديد";
    Layout = "_Layout";

}
<div class="card">

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3> دليل الشركة </h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="alert-danger"></div>

                            
                            <div class="row">
                                <div class="col-md-8">
                                    <label asp-for="CompanyName" class="form-label"></label>
                                    <input asp-for="CompanyName" class="form-control" />
                                    <span asp-validation-for="CompanyName" class="alert-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="Date" class="form-label"></label><span class="text-danger">*</span>
                                    <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                        <input asp-for="Date" id="DateOfStartWork" class="form-control" placeholder="أدخل التاريخ"
                                               data-input />
                                        <span class="input-group-text input-group-addon" data-toggle>
                                            <i data-feather="calendar"></i>
                                        </span>
                                        <span asp-validation-for="Date" class="text-danger"></span>

                                    </div>
                                </div>
                                </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label asp-for="LicenseNumber" class="form-label"></label>
                                    <input asp-for="LicenseNumber" class="form-control" />
                                    <span asp-validation-for="LicenseNumber" class="alert-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="TypeOfBusinessActivity" class="form-label"></label>
                                    <input asp-for="TypeOfBusinessActivity" class="form-control" />
                                    <span asp-validation-for="TypeOfBusinessActivity" class="alert-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="ComponyLogo" class="form-label"></label>
                                    <input asp-for="ComponyLogo" type="file" id="formFile" placeholder="أختر ملف" class="form-control" />
                                    <span asp-validation-for="ComponyLogo" class="alert-danger"></span>
                                </div>

                            </div>
                            <div class="row">

                                
                                
                                <div class="col-md-8">
                                    <label asp-for="ComponyAddress" class="form-label"></label>
                                    <input asp-for="ComponyAddress" class="form-control" />
                                    <span asp-validation-for="ComponyAddress" class="alert-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="BoardOfDirectorsId" class="form-label"></label>
                                    <select asp-for="BoardOfDirectorsId" id="BoardOfDirectorsId" class="js-example-basic-single form-select" asp-items="@(ViewData["boardOfDirectors"] as SelectList)">
                                        <option value="" selected disabled></option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">

                               
                                <div class="col-md-12 mb-3">
                                    <label asp-for="Notes" class="form-label"></label>
                                    <input asp-for="Notes" class="form-control" />
                                    <span asp-validation-for="Notes" class="alert-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="submit" value="حفظ" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-light" style="color;white">رجوع للقائمة </a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById("submit").addEventListener("click", function (event) {
            const BoardOfDirectorsId = document.getElementById("BoardOfDirectorsId");

            if (BoardOfDirectorsId.value === "") {
                event.preventDefault(); // Prevent form submission
                Swal.fire({
                    icon: "error",
                    title: "خطئ....",
                    text: "رجاء أختر مجلس الادارة",
                });
            }
        });
    </script>
}
