@model N.G.HRS.Areas.EmployeesAffsirs.Models.EmployeeMovements

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EmployeeMovements</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDown" class="control-label"></label>
                <input asp-for="DateDown" class="form-control" />
                <span asp-validation-for="DateDown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="jopdescriptionId" class="control-label"></label>
                <select asp-for="jopdescriptionId" class ="form-control" asp-items="ViewBag.jopdescriptionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CurrentJop" class="control-label"></label>
                <input asp-for="CurrentJop" class="form-control" />
                <span asp-validation-for="CurrentJop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastJop" class="control-label"></label>
                <input asp-for="LastJop" class="form-control" />
                <span asp-validation-for="LastJop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
