@model N.G.HRS.Areas.EmployeesAffsirs.Models.AdministrativePromotions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "جديد";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../../../dashboard.html"> الرئيسة</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة النظام
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            الشؤون الادارية
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a asp-action="Index">
                دليل الترفيعات الادارية
            </a>

        </li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">
                    <h3>  دليل الترفيعات الادارية</h3>
                </div>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label asp-for="EmployeeId" class="control-label"></label>
                            <select asp-for="EmployeeId" class="js-example-basic-single  form-select" id="EmployeeId" asp-items="@(ViewData["employee"] as SelectList)">
                                <option value="" disabled></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="DepartmentsId" class="control-label"></label>
                            <select asp-for="DepartmentsId" id="DepartmentsId" class="js-example-basic-single  form-select" asp-items="@(ViewData["Departments"] as SelectList)">
                                <option value="" disabled></option>
                            </select>
                        </div>

                    </div>
                    <div class="row mb-3">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Date" class="form-label"></label>
                        <div class="input-group  flatpickr-date" id="flatpickr-date">
                            <input asp-for="Date" id="DateOfEmployment" class="js-example-basic-single form-control" placeholder="أدخل التاريخ" data-input>
                            <span class="input-group-text input-group-addon" data-toggle>
                                <i data-feather="calendar"></i>
                            </span>
                        </div>
                        <span asp-validation-for="Date" class="text-danger"></span>

                    </div>

                        <div class="col-md-4 mb-3">
                            <label asp-for="FromDate" class="form-label"></label>
                            <div class="input-group  flatpickr-date" id="flatpickr-date">
                                <input asp-for="FromDate" id="DateOfEmployment" class="js-example-basic-single form-control" placeholder="أدخل التاريخ" data-input>
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="calendar"></i>
                                </span>
                            </div>
                            <span asp-validation-for="FromDate" class="text-danger"></span>

                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="ToDate" class="form-label"></label>
                            <div class="input-group  flatpickr-date" id="flatpickr-date">
                                <input asp-for="ToDate" id="DateOfEmployment" class="js-example-basic-single form-control" placeholder="أدخل التاريخ" data-input>
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="calendar"></i>
                                </span>
                            </div>
                            <span asp-validation-for="ToDate" class="text-danger"></span>

                        </div>
                   
                    </div>
                    <div class="form-group  col-md-12 mb-3">
                        <label asp-for="Notes" class="control-label"></label>
                        <input asp-for="Notes" class="form-control" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="حفظ" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-light" style="color;white">رجوع للقائمة </a>

                    </div>
                </form>
            </div>
        </div>
    </div>
 </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script>
            $(document).ready(function () {


                // $.ajax({
                //     url: '/EmployeesAffsirs/AdministrativePromotions/LoadEmployees',
                //     type: 'GET',
                //     success: function (data) {
                //         $.each(data, function (i, item) {

                //             $('#EmployeeId').append('<option value="' + item.id + '">' + item.employeeName + '</option>')


                //         });
                //     }
                // });

                //=================================
                $("#EmployeeId").on("change", function () {
                    var id = this.value;
                    if (id != "") {
                        $.ajax({
                            url: '/EmployeesAffsirs/AdministrativePromotions/LoudData?id=' + id,
                            type: 'GET',
                            success: function (data) {
                                $('#DepartmentsId').val(data.departmentsId).change();
                            }
                        });
                    }
                    else {
                        Swal.fire({
                            icon: "error",
                            title: "الرجاء أختيار موظف",
                        });
                        $("#DepartmentsId").empty().change();
                        this.value = "";
                        event.preventDefault();
                    }

                });
                //===========================================
                $("#toDate").on("change", function () {
                    if ($('#fromDate').val() !== "") {
                        if ($('#fromDate').val() > $('#toDate').val()) {
                            event.preventDefault(); // Prevent form submission
                            Swal.fire({
                                icon: "error",
                                title: "وقت البدأ يجب ان يكون اصغر من وقت الانتهاء!!",
                            });
                            $('#toDate').empty();
                        }
                    }
                });
                //===========================================
                $("#fromDate").on("change", function () {
                    if ($('#toDate').val() !== "") {
                        if ($('#fromDate').val() > $('#toDate').val()) {
                            event.preventDefault(); // Prevent form submission
                            Swal.fire({
                                icon: "error",
                                title: "وقت البدأ يجب ان يكون اصغر من وقت الانتهاء!!",
                            });
                            $('#toDate').empty();
                        }
                    }
                });
                //===========================================
                $("#submit").on("click", function () {
                    if ($('#fromDate').val() > $('#toDate').val()) {
                        event.preventDefault(); // Prevent form submission
                        Swal.fire({
                            icon: "error",
                            title: "وقت البدأ يجب ان يكون اصغر من وقت الانتهاء!!",
                        });
                        $('#toDate').empty();
                        $('#fromDate').empty();
                    }

                    if ($('#DepartmentsId').val() === "") {
                        event.preventDefault(); // Prevent form submission
                        Swal.fire({
                            icon: "error",
                            title: "رجاء أختر الادارة ",
                        });
                    }
                    if ($('#EmployeeId').val() === "") {
                        event.preventDefault(); // Prevent form submission
                        Swal.fire({
                            icon: "error",
                            title: "رجاء أختر الموظف ",
                        });
                    }
                });


            });
        </script>
        @if (TempData["Done"] != null)
        {
            <script>
                Swal.fire({
                    icon: "succes",
                    title: "@TempData["Done"] ",
                });
            </script>

        }
        @if (TempData["Message"] != null)
        {
            <script>
                Swal.fire({
                    icon: "succes",
                    title: "@TempData["Message"] ",
                });
            </script>

        }
    }
