@model N.G.HRS.Areas.ViolationsAndPenaltiesAffairs.Models.EmployeeViolations

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

    ViewData["Title"] = "جديد";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}
<div class="card">

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3> EmployeeLoans   </h3>
                    </div>
                    <div class="card-body">
                        @* <form id="dataForm">
                        <!-- نموذج إدخال البيانات هنا -->
                        <!-- تأكد من تضمين جميع حقول الإدخال هنا -->
                        <!-- زر الحفظ -->
                        </form> *@

                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ViolationDate" class="control-label"></label>
                                <input asp-for="ViolationDate" class="form-control" />
                                <span asp-validation-for="ViolationDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateOnly" class="control-label"></label>
                                <input asp-for="DateOnly" class="form-control" />
                                <span asp-validation-for="DateOnly" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="ReceiptOfNotifications" /> @Html.DisplayNameFor(model => model.ReceiptOfNotifications)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" id="ExemptCheckbox" asp-for="Exempt" /> @Html.DisplayNameFor(model => model.Exempt)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="EmployeeId" class="control-label"></label>
                                <select asp-for="EmployeeId" id="EmployeeId" class="form-control" asp-items="@(ViewData["EmployeeId"] as SelectList)">
                                    <option value="">   </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ViolationId" class="control-label"></label>
                                <select asp-for="ViolationId" id="ViolationId" class="form-control" asp-items="@(ViewData["ViolationsId"] as SelectList)">
                                    <option value="">   </option>
                                </select>
                                <span asp-validation-for="ViolationId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PenaltiesId" class="control-label"></label>
                                <select asp-for="PenaltiesId" id="PenaltiesId" class="form-control" asp-items="ViewBag.PenaltiesId">
                                    <option value="">   </option>
                                </select>
                            </div>
                            <div class="form-group" id="NumberPenaltiesId">
                                <label asp-for="NumberPenalties" class="control-label"></label>
                                <input asp-for="NumberPenalties" class="form-control" />
                                <span asp-validation-for="NumberPenalties" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="ndiscount">
                                <label asp-for="Discounts" class="control-label"></label>
                                <input asp-for="Discounts" id="DiscountsId" class="form-control" />
                                <span asp-validation-for="Discounts" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Note" class="control-label"></label>
                                <input asp-for="Note" class="form-control" />
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>



                            <div class="form-group">
                                <input type="submit" id="submit" value="حفظ" class="btn btn-primary" />
                            </div>
                            <div>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        $(document).ready(function () {
            $('#PenaltiesId').change(function () {

                var id = $(this).val();

                $.ajax({
                    url: '/ViolationsAndPenaltiesAffairs/EmployeeViolations/EmployeeViolations?id=' + id,
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                        $('#DiscountsId').val(data.value).change();

                    }
                });
            });



        });




    </script>
    <script>
        // const ExemptCheckbox = document.getElementById("ExemptCheckbox");
        // const NumberPenaltiesId = document.getElementById("NumberPenaltiesId");
        // const ndiscount = document.getElementById("ndiscount");

        // ExemptCheckbox.addEventListener("change", function () {

        //     if (ExemptCheckbox.checked) {
        //         NumberPenaltiesId.style = `pointer-events:all ; filter: none; opacity: 1;`; // Hide form
        //         ndiscount.style = `pointer-events: all; filter: none; opacity: 1;`; // Hide form
        //     } else {
        //         NumberPenaltiesId.style = `pointer-events: none; filter: none; opacity: .5;`; // Display form
        //         ndiscount.style = `pointer-events: none; filter: none; opacity: .5;`; // Display form
        //     }
        // });


        const ExemptCheckbox = document.getElementById("ExemptCheckbox");
        const NumberPenaltiesId = document.getElementById("NumberPenaltiesId");
        const ndiscount = document.getElementById("ndiscount");
        const DiscountsId = document.getElementById("DiscountsId");

        ExemptCheckbox.addEventListener("change", function () {
            if (ExemptCheckbox.checked) {
                // إذا تم تحديد الخيار "ExemptCheckbox"، قم بمسح البيانات
                NumberPenaltiesId.style.pointerEvents = "all";
                NumberPenaltiesId.style.filter = "none";
                NumberPenaltiesId.style.opacity = "1";
                NumberPenaltiesId.querySelector("input").value = "0"; // مسح القيمة من الحقل

                ndiscount.style.pointerEvents = "all";
                ndiscount.style.filter = "none";
                ndiscount.style.opacity = "1";
                DiscountsId.value = "0.00"; // مسح القيمة من الحقل
            } else {
                // إذا لم يتم تحديد الخيار "ExemptCheckbox"، لا تقم بمسح البيانات
                NumberPenaltiesId.style.pointerEvents = "none";
                NumberPenaltiesId.style.filter = "none";
                NumberPenaltiesId.style.opacity = ".5";

                ndiscount.style.pointerEvents = "none";
                ndiscount.style.filter = "none";
                ndiscount.style.opacity = ".5";
            }
        });


    </script>


    @*         // =============================================================== رسالة خطئ
 *@        <script>

                   document.getElementById("submit").addEventListener("click", function (event) {
                       const ViolationId = document.getElementById("ViolationId");
                       if (ViolationId.value === "") {
                           event.preventDefault(); // منع إرسال النموذج
                           Swal.fire({
                               icon: "error",
                               title: "خطأ",
                               text: "يرجى اختيار  مخالفة ",
                               showConfirmButton: true,
                               allowOutsideClick: false,
                               timer: 5000, // زمن الإغلاق التلقائي بالميللي ثانية
                               timerProgressBar: true,
                               didOpen: () => {
                                   Swal.getHtmlContainer().querySelector('audio').remove();
                               }
                           });
                       }
                   });


                   document.getElementById("submit").addEventListener("click", function (event) {
                       const PenaltiesId = document.getElementById("PenaltiesId");
                       if (PenaltiesId.value === "") {
                           event.preventDefault(); // منع إرسال النموذج
                           Swal.fire({
                               icon: "error",
                               title: "خطأ",
                               text: "يرجى اختيار العقوبة",
                               showConfirmButton: true,
                               allowOutsideClick: false,
                               timer: 5000, // زمن الإغلاق التلقائي بالميللي ثانية
                               timerProgressBar: true,
                               didOpen: () => {
                                   Swal.getHtmlContainer().querySelector('audio').remove();
                               }
                           });
                       }
                   });

                   document.getElementById("submit").addEventListener("click", function (event) {
                       const EmployeeId = document.getElementById("EmployeeId");
                       if (EmployeeId.value === "") {
                           event.preventDefault(); // منع إرسال النموذج
                           Swal.fire({
                               icon: "error",
                               title: "خطأ",
                               text: "يرجى اختيار الموظف",
                               showConfirmButton: true,
                               allowOutsideClick: false,
                               timer: 5000, // زمن الإغلاق التلقائي بالميللي ثانية
                               timerProgressBar: true,
                               didOpen: () => {
                                   Swal.getHtmlContainer().querySelector('audio').remove();
                               }
                           });
                       }
                   });



    </script>




    <script>
        //     $(document).ready(function () {
        //         $('#saveButton').click(function (e) {
        //             e.preventDefault(); // منع النموذج من الإرسال بشكل افتراضي

        //             // جمع البيانات المدخلة
        //             var violationDate = $('#ViolationDate').val();
        //             var dateOnly = $('#DateOnly').val();
        //             var receiptOfNotifications = $('#ReceiptOfNotifications').prop('checked');
        //             var exempt = $('#ExemptCheckbox').prop('checked');
        //             var employeeId = $('#EmployeeId').val();
        //             var violationId = $('#ViolationId').val();
        //             var penaltiesId = $('#PenaltiesId').val();
        //             var numberPenalties = $('#NumberPenalties').val();
        //             var discounts = $('#Discounts').val();
        //             var note = $('#Note').val();

        //             // إضافة البيانات المدخلة كصف جديد في الجدول
        //             var newRow = `
        //                             <tr>
        //                                 <td>${violationDate}</td>
        //                                 <td>${dateOnly}</td>
        //                                 <td>${receiptOfNotifications}</td>
        //                                 <td>${exempt}</td>
        //                                 <td>${employeeId}</td>
        //                                 <td>${violationId}</td>
        //                                 <td>${penaltiesId}</td>
        //                                 <td>${numberPenalties}</td>
        //                                 <td>${discounts}</td>
        //                                 <td>${note}</td>
        //                             </tr>
        //                         `;
        //             $('#tableBody').append(newRow);

        //             // إرسال البيانات إلى الخادم لحفظها هنا
        //             // يمكنك استخدام AJAX لإرسال البيانات إلى الخادم

        //             // إعادة تعيين النموذج بعد الحفظ
        //             $('#dataForm')[0].reset();
        //         });
        //     });
        // </script>










}



