@model N.G.HRS.Areas.ViolationsAndPenaltiesAffairs.Models.EmployeeViolations

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "مخالفة الموظفين";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}


<h1>Edit</h1>

<h4>EmployeeViolations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ViolationDate" class="control-label"></label>
                <input asp-for="ViolationDate" class="form-control" />
                <span asp-validation-for="ViolationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOnly" class="control-label"></label>
                <input asp-for="DateOnly" class="form-control" />
                <span asp-validation-for="DateOnly" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ReceiptOfNotifications" /> @Html.DisplayNameFor(model => model.ReceiptOfNotifications)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Exempt" /> @Html.DisplayNameFor(model => model.Exempt)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViolationId" class="control-label"></label>
@*                 <input asp-for="ViolationId" class="form-control" />
 *@                <select asp-for="ViolationId" class="form-control" asp-items="ViewBag.ViolationId"></select>

                <span asp-validation-for="ViolationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PenaltiesId" class="control-label"></label>
                <select asp-for="PenaltiesId" class="form-control" asp-items="ViewBag.PenaltiesId"></select>
                <span asp-validation-for="PenaltiesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberPenalties" class="control-label"></label>
                <input asp-for="NumberPenalties" class="form-control" />
                <span asp-validation-for="NumberPenalties" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
