@model N.G.HRS.Areas.Employees.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EmployeeNumber" class="control-label"></label>
                <input asp-for="EmployeeNumber" class="form-control" />
                <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfEmployment" class="control-label"></label>
                <input asp-for="DateOfEmployment" class="form-control" />
                <span asp-validation-for="DateOfEmployment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementDate" class="control-label"></label>
                <input asp-for="PlacementDate" class="form-control" />
                <span asp-validation-for="PlacementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentStatus" class="control-label"></label>
                <input asp-for="EmploymentStatus" class="form-control" />
                <span asp-validation-for="EmploymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RehireDate" class="control-label"></label>
                <input asp-for="RehireDate" class="form-control" />
                <span asp-validation-for="RehireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfStoppingWork" class="control-label"></label>
                <input asp-for="DateOfStoppingWork" class="form-control" />
                <span asp-validation-for="DateOfStoppingWork" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UsedFingerprint" /> @Html.DisplayNameFor(model => model.UsedFingerprint)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SubjectToInsurance" /> @Html.DisplayNameFor(model => model.SubjectToInsurance)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DateInsurance" class="control-label"></label>
                <input asp-for="DateInsurance" class="form-control" />
                <span asp-validation-for="DateInsurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentsId" class="control-label"></label>
                <select asp-for="DepartmentsId" class="form-control" asp-items="ViewBag.DepartmentsId"></select>
                <span asp-validation-for="DepartmentsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionsId" class="control-label"></label>
                <select asp-for="SectionsId" class="form-control" asp-items="ViewBag.SectionsId"></select>
                <span asp-validation-for="SectionsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDescriptionId" class="control-label"></label>
                <select asp-for="JobDescriptionId" class="form-control" asp-items="ViewBag.JobDescriptionId"></select>
                <span asp-validation-for="JobDescriptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracticalExperiencesId" class="control-label"></label>
                <select asp-for="PracticalExperiencesId" class="form-control" asp-items="ViewBag.PracticalExperiencesId"></select>
                <span asp-validation-for="PracticalExperiencesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatementOfEmployeeFilesId" class="control-label"></label>
                <select asp-for="StatementOfEmployeeFilesId" class="form-control" asp-items="ViewBag.StatementOfEmployeeFilesId"></select>
                <span asp-validation-for="StatementOfEmployeeFilesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingCoursesId" class="control-label"></label>
                <select asp-for="TrainingCoursesId" class="form-control" asp-items="ViewBag.TrainingCoursesId"></select>
                <span asp-validation-for="TrainingCoursesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FingerprintDevicesId" class="control-label"></label>
                <select asp-for="FingerprintDevicesId" class="form-control" asp-items="ViewBag.FingerprintDevicesId"></select>
                <span asp-validation-for="FingerprintDevicesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerId" class="control-label"></label>
                <select asp-for="ManagerId" class="form-control" asp-items="ViewBag.ManagerId"></select>
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
