@model N.G.HRS.Areas.PayRoll.Models.EmployeeLoans

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "قروض الموظفين";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../../../dashboard.html"> الرئيسة</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة النظام
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            الرواتب والاجور
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a asp-action="Index">
دليل قروص الموظفين     
</a>

        </li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>دليل  قروض الموظفين   </h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create" id="loanForm">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12">
                                <label asp-for="EmployeeId" class="control-label"></label>
                                <select asp-for="EmployeeId" class="js-example-basic-single form-select" asp-items="ViewBag.EmployeeId">
                                    <option value="" selected disabled></option>
                                </select>
                            </div>
                          
                            <div class="row">
                               
                                <div class="col-md-6">
                                    <label asp-for="Date" class="form-label"></label><span class="text-danger">*</span>
                                    <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                        <input asp-for="Date" id="DateOfStartWork" class="form-control" placeholder="أدخل التاريخ"
                                               data-input />
                                        <span class="input-group-text input-group-addon" data-toggle>
                                            <i data-feather="calendar"></i>
                                        </span>
                                        <span asp-validation-for="Date" class="text-danger"></span>

                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <label asp-for="InstallmentStartDate" class="form-label"></label><span class="text-danger">*</span>
                                    <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                        <input asp-for="InstallmentStartDate" id="DateOfStartWork" class="form-control" placeholder="أدخل التاريخ"
                                               data-input />
                                        <span class="input-group-text input-group-addon" data-toggle>
                                            <i data-feather="calendar"></i>
                                        </span>
                                        <span asp-validation-for="InstallmentStartDate" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="CurrencyId" class="control-label"></label>
                                <select asp-for="CurrencyId" class="js-example-basic-single form-select" asp-items="ViewBag.CurrencyId">
                                    <option value="" selected disabled></option>
                                </select>
                            </div>
                            <div id="ArrestCheckbox" class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" id="ArrestCheckbox" asp-for="Arrest" /> @Html.DisplayNameFor(model => model.Arrest)
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label asp-for="Amount" class="control-label"></label>
                                    <input asp-for="Amount" class="form-control" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="NumberOfInstallmentMonths" class="control-label"></label>
                                    <input asp-for="NumberOfInstallmentMonths" class="form-control" id="NumberOfInstallmentMonths" />
                                    <span asp-validation-for="NumberOfInstallmentMonths" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="InstallmentAmount" class="control-label"></label>
                                    <input asp-for="InstallmentAmount" class="form-control" id="InstallmentAmount" readonly />
                                    <span asp-validation-for="InstallmentAmount" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label asp-for="Notes" class="control-label"></label>
                                <input asp-for="Notes" class="form-control" />
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                            <div class="form-group ">
                                <input type="submit" id="submit" value="حفظ" class="btn btn-primary " />
                                <a asp-action="Index" class="btn btn-light" style="color;white">رجوع للقائمة </a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

 

     <script>
        // لا يدخل الا ارقام فقط
        function validateNumberInput(input) {
            input.value = input.value.replace(/[^0-9]/g, '');
        }

        $(document).ready(function () {
            function showErrorMessage(message) {
                Swal.fire({
                    icon: "error",
                    title: message,
                });
            }

            // حساب مبلغ القسط عند إدخال عدد الشهور
            $("#NumberOfInstallmentMonths").on('input', function () {
                var amount = parseFloat($("#Amount").val());
                var numberOfInstallmentMonths = parseInt($(this).val());

                if (!isNaN(amount) && !isNaN(numberOfInstallmentMonths) && numberOfInstallmentMonths > 0) {
                    var installmentAmount = amount / numberOfInstallmentMonths;
                    $("#InstallmentAmount").val(installmentAmount.toFixed(2)).prop('disabled', true);
                } else {
                    $("#InstallmentAmount").val('').prop('disabled', false);
                }
            });

           // حساب عدد الشهور عند إدخال مبلغ القسط
            $("#InstallmentAmount").on('input', function () {
                var amount = parseFloat($("#Amount").val());
                var installmentAmount = parseFloat($(this).val());

                if (!isNaN(amount) && !isNaN(installmentAmount) && installmentAmount > 0) {
                    var numberOfInstallmentMonths = amount / installmentAmount;
                    $("#NumberOfInstallmentMonths").val(Math.ceil(numberOfInstallmentMonths)).prop('disabled', true);
                } else {
                    $("#NumberOfInstallmentMonths").val('').prop('disabled', false);
                }
            });

            $("#EmployeeLoansForm").on('submit', function (event) {
                var employeeId = $("#EmployeeId").val();
                var date1 = $("#Date1").val();
                var installmentStartDate = $("#InstallmentStartDate").val();
                var currencyId = $("#CurrencyId").val();
                var amount = $("#Amount").val();
                var installmentAmount = $("#InstallmentAmount").val();
                var numberOfInstallmentMonths = $("#NumberOfInstallmentMonths").val();
                // قبل ارسال النموذج، تأكد من تمكين الحقول المعطلة
                    $("#InstallmentAmount").prop('disabled', false);
                    $("#NumberOfInstallmentMonths").prop('disabled', false);

                if (employeeId === "") {
                    showErrorMessage("يجب اختيار اسم الموظف");
                    return false;
                } else if (date1.trim() === "") {
                    showErrorMessage("يجب اختيار اليوم");
                    return false;
                } else if (installmentStartDate.trim() === "") {
                    showErrorMessage("يجب اختيار تاريخ بدء القرض");
                    return false;
                } else if (currencyId === "") {
                    showErrorMessage("يجب اختيار العملة");
                    return false;
                } else if (amount.trim() === "") {
                    showErrorMessage("يجب إدخال المبلغ");
                    return false;
                } else if (installmentAmount.trim() === "") {
                    showErrorMessage("يجب إدخال مبلغ القسط");
                    return false;
                } else if (numberOfInstallmentMonths.trim() === "") {
                    showErrorMessage("يجب إدخال عدد شهور القرض");
                    return false;
                }

            });
        });
    </script> 

}