@model N.G.HRS.Areas.OrganizationalChart.Models.Sectors

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sectors</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SectorsName" class="control-label"></label>
                <input asp-for="SectorsName" class="form-control" />
                <span asp-validation-for="SectorsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchesId" class="control-label"></label>
                <select asp-for="BranchesId" class="form-control" asp-items="ViewBag.BranchesId"></select>
                <span asp-validation-for="BranchesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
