@model N.G.HRS.Areas.GeneralConfiguration.Models.Permissions

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "نماذج الدوام";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<h1>Create</h1>

<h4>Permissions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PermissionName" class="control-label"></label>
                <input asp-for="PermissionName" class="form-control" />
                <span asp-validation-for="PermissionName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PermissionStatus" /> @Html.DisplayNameFor(model => model.PermissionStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PermissionsDuration" class="control-label"></label>
                <input asp-for="PermissionsDuration" class="form-control" />
                <span asp-validation-for="PermissionsDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepeatPermissionDuringTheMonth" class="control-label"></label>
                <input asp-for="RepeatPermissionDuringTheMonth" class="form-control" />
                <span asp-validation-for="RepeatPermissionDuringTheMonth" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paid" /> @Html.DisplayNameFor(model => model.Paid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
