@model N.G.HRS.Areas.OrganizationalChart.Models.Departments
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "جديد";
    Layout = "_Layout";

}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../../../dashboard.html"> الرئيسة</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة النظام
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة الهيكل التنظيمي
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a asp-action="Index">دليل الإدارات </a>

        </li>
    </ol>
</nav>
<div class="card">

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3> دليل الإدارات  </h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label asp-for="SubAdministration" class="control-label"></label>
                                    <input asp-for="SubAdministration" class="form-control" />
                                    <span asp-validation-for="SubAdministration" class="alert-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="SectorsId" class="control-label"></label>
                                    <select asp-for="SectorsId" id="SectorsId" class="js-example-basic-single form-select" asp-items="@(ViewData["sectors"] as SelectList)">
                                        <option value=""> </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label asp-for="Notes" class="control-label"></label>
                                <input asp-for="Notes" class="form-control" />
                                <span asp-validation-for="Notes" class="alert-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" id="" value="حفظ" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-light" style="color;white">رجوع للقائمة </a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById("submit").addEventListener("click", function (event) {
            const SectorsId = document.getElementById("SectorsId");

            if (SectorsId.value === "") {
                event.preventDefault(); // Prevent form submission
                Swal.fire({
                    icon: "error",
                    title: "خطئ....",
                    text: "رجاء أختر  القطاع",
                });
            }
        });
    </script>
}
