@model N.G.HRS.Areas.AttendanceAndDeparture.ViewModels.PermanenceModelsAndPeriodsVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "IndexEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";

}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Index</h1>
<p>
    <a asp-action="AddEmployee">Create New</a>
</p>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">بيانات الموظفين</h6>

                <hr style="color: black;">
                <div class="table-responsive">
