
@model N.G.HRS.Areas.AalariesAndWages.Models.AdditionalAccountInformation
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";

}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Home" asp-area=""> الرئيسة</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة النظام
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            التهيئة العامة
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a asp-action="Index">دليل بيانات حساب الاضافي </a>
        </li>

    </ol>
</nav>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <h6 class="card-title"> بيانات حساب الاضافي  </h6>
                </div>
                <form asp-action="Create" id="AdditionalForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>                    <!-- Row -->
                    <div class="row">

                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <label asp-for="NormalCoefficient" class="form-label"> </label>
                                <input asp-for="NormalCoefficient" id="NormalCoefficient1" class="form-control" />
                            </div>
                            <span asp-validation-for="NormalCoefficient" class="text-danger"></span>
                        </div>


                        <div class="col-sm-3">
                            <div class="mb-2">
                                <label asp-for="WeekendLaboratories" class="form-label"></label>
                                <input asp-for="WeekendLaboratories" id="WeekendLaboratories" class="form-control" />

                            </div>
                            <span asp-validation-for="WeekendLaboratories" class="text-danger"></span>

                        </div>
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <label asp-for="OfficialHolidaysLab" class="form-label"></label>
                                <input asp-for="OfficialHolidaysLab" id="OfficialHolidaysLab" class="form-control" />

                            </div>
                            <span asp-validation-for="OfficialHolidaysLab" class="text-danger"></span>

                        </div>
                        <div class="col-sm-1">
                        </div>
                        @* <div class="col-sm-1">
                        <div class="mb-1" style="display: flex;justify-content: center; align-items: flex-start;">
                        <div>
                        <span style=" border-left: 2px solid #e9ecef;font-weight: bold;height: 52px;display: inline-block;"></span>
                        </div>
                        </div>
                        </div> *@
                        <!-- Col -->


                    </div>

                    <!-- Col -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <label asp-for="NightPeriodParameter" class="form-label"></label>
                                <input asp-for="NightPeriodParameter" id="NightPeriodParameter" class="form-control" />
                            </div>
                            <span asp-validation-for="NightPeriodParameter" class="text-danger"></span>
                        </div>
                        <div class="col-sm-3">
                            <label asp-for="FromTime" class="form-label"></label>
                            <div class="input-group flatpickr " id="flatpickr-time">
                                <input asp-for="FromTime" id="FromTime" class="form-control" placeholder="إختر الوقت"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="clock"></i>
                                </span>
                            </div>
                            <span asp-validation-for="FromTime" class="text-danger"></span>
                        </div>
                        <div class="col-sm-3">
                            <label asp-for="ToTime" class="form-label"></label>
                            <div class="input-group flatpickr " id="flatpickr-time">
                                <input asp-for="ToTime" id="ToTime" class="form-control" placeholder="إختر الوقت"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="clock"></i>
                                </span>
                            </div>
                            <span asp-validation-for="ToTime" class="text-danger"></span>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    @*   <div class="row">

                    </div> *@
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <label asp-for="LaboratoriesPerDay" class="form-label">  </label>
                                <input asp-for="LaboratoriesPerDay" id="LaboratoriesPerDay" class="form-control" />
                            </div>
                            <span asp-validation-for="LaboratoriesPerDay" class="text-danger"></span>
                        </div>
                        <div class="col-sm-3">
                            <label asp-for="Date" class="form-label"></label>
                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                <input asp-for="Date" id="Date" class="form-control" placeholder="إختر الوقت"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="calendar"></i>
                                </span>
                                <div>
                                    <span asp-validation-for="Date" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>

                    <!-- Row -->
                    <!-- Row -->
                    <div class="row mb-2">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-5">
                            <label asp-for="FromDate" class="form-label"></label>
                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                <input asp-for="FromDate" id="FromDate" class="form-control" placeholder="إختر الوقت"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="calendar"></i>
                                </span>
                            </div>
                            <span asp-validation-for="FromDate" class="text-danger"></span>
                        </div>
                        <div class="col-sm-5">
                            <label asp-for="ToDate" class="form-label"></label>
                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                <input asp-for="ToDate" id="ToDate" class="form-control" placeholder="إختر الوقت"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="calendar"></i>
                                </span>
                            </div>
                            <span asp-validation-for="ToDate" class="text-danger"></span>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-10">
                            <div class="mb-3">
                                <label asp-for="Notes" class="form-label"></label>
                                <input asp-for="Notes" class="form-control" />
                            </div>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>


                    <br />
                    <div class="row">
                        <div class="col-sm-1">
                            </div>
                        <div class="col-sm-10">
                            <div class="mb-1">
                                <input type="submit" id="AdditionalForm" value="حفظ" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-light" class="btn btn-primary">رجوع الى القائمة</a>
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script>
        $(document).ready(function () {
            const v = new ValidationFromMe();

            // function v.softErrorMessage(message) {
            //     Swal.fire({
            //         icon: "error",
            //         title: message,
            //     });
            // }
            // // تعيين تاريخ اليوم في حقل Date و FromDate عند تحميل الصفحة
            // const today = new Date().toISOString().split('T')[0];
            // $("#Date").val(today);
            // $("#FromDate").val(today);

            // // تعيين الوقت الحالي في حقل FromTime عند تحميل الصفحة بتنسيق 12 ساعة
            // const now = moment();
            // const formattedTime = now.format('hh:mm A');
            // $("#FromTime").val(formattedTime);
            $("#FromDate, #ToDate").on("input", function () {
                var fromDate1 = $("#FromDate").val();
                var toDate1 = $("#ToDate").val();
                if (!isNaN(new Date(fromDate1).getTime()) && !isNaN(new Date(toDate1).getTime())) {
                    if (new Date(toDate1) < new Date(fromDate1)) {
                        $("#FromDate, #ToDate").val(""); // إعادة تعيين القيم
                        v.softErrorMessage("تاريخ النهاية يجب أن يكون أكبر من تاريخ البداية");
                    }
                }
            });

            $("#NormalCoefficient1, #WeekendLaboratories, #NightPeriodParameter, #LaboratoriesPerDay, #OfficialHolidaysLab").on('input', function () {
                var value = $(this).val();
                if (isNaN(value) || parseInt(value) === 0 || parseInt(value) > 10) {
                    v.softErrorMessage(isNaN(value) ? "الرجاء إدخال قيمة رقمية صحيحة لا يقبل الحروف!" : (parseInt(value) === 0 ? "الصفر غير مقبول!" : "القيمة يجب ألا تزيد عن 10 ساعات!"));
                    $(this).val(''); // إعادة تعيين الحقل
                }
            });

            // $("#FromTime, #ToTime").on('input', function () {
            //     var fromTime = $("#FromTime").val();
            //     var toTime = $("#ToTime").val();

            //     if (fromTime && toTime) {
            //         var fromTimeValue = moment(fromTime, 'hh:mm A');
            //         var toTimeValue = moment(toTime, 'hh:mm A');
            //         if (toTimeValue.isSameOrBefore(fromTimeValue)) {
            //             v.softErrorMessage("وقت النهاية يجب أن يكون أكبر من وقت البداية");
            //             $("#ToTime").val(''); // إعادة تعيين حقل "إلى وقت"
            //         }
            //     }
            // });

            $("#AdditionalForm").on('submit', function (event) {
                // event.preventDefault(); /* منع إرسال النموذج بشكل افتراضي */
                var normalCoefficient1 = $("#NormalCoefficient1").val();
                var weekendLaboratories = $("#WeekendLaboratories").val();
                var fromTime = $("#FromTime").val();
                var toTime = $("#ToTime").val();
                var officialHolidaysLab = $("#OfficialHolidaysLab").val();
                var nightPeriodParameter = $("#NightPeriodParameter").val();
                var date = $("#Date").val();
                var taboratoriesPerDay = $("#LaboratoriesPerDay").val();
                var fromDate = $("#FromDate").val();
                var toDate = $("#ToDate").val();

                // تحقق من أن الحقل "Date" يساوي تاريخ اليوم
                if (date !== today) {
                    event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                    v.softErrorMessage("يجب أن يكون التاريخ هو تاريخ اليوم");
                    return;
                }

                if (normalCoefficient1 === "") {
                    event.preventDefault(); // منع إرسال النموذج بشكل افتراضي
                    v.softErrorMessage("يجب ادخال المعامل الطبيعي");
                    return;
                }
                if (weekendLaboratories === "") {
                    event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                    v.softErrorMessage("يجب ادخال المعامل الاسبوعي");
                    return;
                }
                if (fromTime === "") {
                    event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                    v.softErrorMessage("يجب ادخال من وقت");
                    return;
                }
                if (toTime === "") {
                    event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                    v.softErrorMessage("يجب ادخال الى وقت");
                    return;
                }
                if (officialHolidaysLab === "") {
                    event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                    v.softErrorMessage("يجب ادخال معامل العطلات الرسمية");
                    return;
                }
                if (nightPeriodParameter === "") {
                    event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                    v.softErrorMessage("يجب ادخال معامل الفترة الليلية");
                    return;
                }
                if (taboratoriesPerDay === "") {
                    event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                    v.softErrorMessage("يجب ادخال المعامل اليومي");
                    return;
                }
                if (fromDate === "") {
                    event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                    v.softErrorMessage("يجب تحديد من التاريخ");
                    return;
                }
                if (toDate === "") {
                    event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                    v.softErrorMessage("يجب تحديد الى التاريخ");
                    return;
                }

                // التحقق من التواريخ عبر AJAX
                $.ajax({
                    url: "/SalariesAndWages/AdditionalAccountInformations/Check1",
                    type: "GET",
                    data: { from: fromDate, to: toDate },
                    dataType: "json",
                    success: function (data) {
                        switch (data) {
                            case 1:
                                event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                                v.softErrorMessage("اعداد التاريخ هذا موجود مسبقا!!");
                                break;
                            case 2:
                                v.softErrorMessage("تاريخ البداية يتداخل مع تاريخ اعداد آخر!!");
                                event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                                break;
                            case 3:
                                v.softErrorMessage("تاريخ النهاية يتداخل مع تاريخ اعداد آخر!!");
                                event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                                break;
                            case 4:
                                v.softErrorMessage("تاريخ هذا الاعداد يتداخل مع تاريخ اعداد آخر!!");
                                event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                                break;
                            default:
                                $("#AdditionalForm")[0].submit(); // إذا لم يكن هناك أي خطأ، أرسل النموذج
                                return;
                        }
                    },
                    error: function (xhr, status, error) {
                        event.preventDefault(); // منع إرسال النموذج بشكل افتراضي

                        v.softErrorMessage("حدث خطأ أثناء معالجة الطلب. حاول مرة أخرى.");
                    }
                });
            });
        });
    </script>




}

