@model N.G.HRS.Areas.AalariesAndWages.Models.AdditionalAccountInformation
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "نماذج الدوام";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}


<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../../../dashboard.html"> الرئيسة</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة النظام
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            التهيئة العامة
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            بيانات حساب الاضافي
        </li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title"> بيانات حساب الاضافي  </h6>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="mb-2">
                                <label asp-for="NormalCoefficient" class="form-label"></label>
                                <input asp-for="NormalCoefficient" class="form-control" />
                                <span asp-validation-for="NormalCoefficient" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Col -->
                        <div class="col-sm-2">
                            <div class="mb-2">
                                <label asp-for="WeekendLaboratories" class="form-label"></label>
                                <input asp-for="WeekendLaboratories" class="form-control" />
                                <span asp-validation-for="WeekendLaboratories" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="mb-1" style="display: flex;justify-content: center; align-items: flex-start;">
                                <div>
                                    <span style=" border-left: 2px solid #e9ecef;font-weight: bold;height: 52px;display: inline-block;"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Col -->
                        <div class="col-sm-3">
                            <label asp-for="FromTime" class="form-label"></label>
                            <div class="input-group flatpickr " id="flatpickr-time">
                                <input asp-for="FromTime" class="form-control" placeholder="Select time"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="clock"></i>
                                </span>
                                <span asp-validation-for="FromTime" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label asp-for="ToTime" class="form-label"></label>
                            <div class="input-group flatpickr " id="flatpickr-time">
                                <input asp-for="ToTime" class="form-control" placeholder="Select time"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="clock"></i>
                                </span>
                                <span asp-validation-for="ToTime" class="text-danger"></span>

                            </div>
                        </div>
                    </div>

                        <!-- Col -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="mb-2">
                                <label asp-for="OfficialHolidaysLab" class="form-label"></label>
                                <input asp-for="OfficialHolidaysLab" class="form-control" />
                                <span asp-validation-for="OfficialHolidaysLab" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Col -->
                        <!-- Row -->
                        <div class="col-sm-2">
                            <div class="mb-2">
                                <label asp-for="NightPeriodParameter" class="form-label"></label>
                                <input asp-for="NightPeriodParameter" class="form-control" />
                                <span asp-validation-for="NightPeriodParameter" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Col -->

                        <div class="col-sm-1">
                            <div class="mb-1" style="display: flex;justify-content: center; align-items: flex-start;">
                                <div>
                                    <span style="    border-left: 2px solid #e9ecef;font-weight: bold;height: 52px;display: inline-block;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <label asp-for="FromDate" class="form-label"></label>
                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                <input asp-for="FromDate" class="form-control" placeholder="Select time"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="calendar"></i>
                                </span>
                                <span asp-validation-for="FromDate" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-sm-3">


                            <label asp-for="ToDate" class="form-label"></label>
                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                <input asp-for="ToDate" class="form-control" placeholder="Select time"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="calendar"></i>
                                </span>
                                <span asp-validation-for="ToDate" class="text-danger"></span>

                            </div>
                        </div>
                        <!-- Col -->
                        



                    </div>
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="mb-2">
                                <label asp-for="LaboratoriesPerDay" class="form-label"></label>
                                <input asp-for="LaboratoriesPerDay" class="form-control" />
                                <span asp-validation-for="LaboratoriesPerDay" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="mb-2" style="display: flex;justify-content: center; align-items: flex-start;">
                                <div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="mb-1" style="display: flex;justify-content: center; align-items: flex-start;">
                                <div>
                                    <span style="    border-left: 2px solid #e9ecef;font-weight: bold;height: 52px;display: inline-block;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label asp-for="Date" class="form-label"></label>
                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                <input asp-for="Date" class="form-control" placeholder="Select time"
                                       data-input />
                                <span class="input-group-text input-group-addon" data-toggle>
                                    <i data-feather="calendar"></i>
                                </span>
                                <span asp-validation-for="Date" class="text-danger"></span>

                            </div>
                        </div>

                    </div>

                    <!-- Row -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mb-12">
                                <label asp-for="Notes" class="form-label"></label>
                                <input asp-for="Notes" class="form-control" />
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="mb-1">
                                <input type="submit" value="إنشاء" class="btn btn-primary" />

                            </div>

                        </div>
                        <div class="col-sm-2">
                            <div class="mb-2">
                                <a asp-action="Index" class="btn btn-light">رجوع الى القائمة</a>

                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        flatpickr("#additionaldate-time", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",

        });
    </script>
}
