@model N.G.HRS.Areas.AalariesAndWages.Models.AdditionalAccountInformation

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";

}
<h1>Edit</h1>

<h4>AdditionalAccountInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NormalCoefficient" class="control-label"></label>
                <input asp-for="NormalCoefficient" class="form-control" />
                <span asp-validation-for="NormalCoefficient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekendLaboratories" class="control-label"></label>
                <input asp-for="WeekendLaboratories" class="form-control" />
                <span asp-validation-for="WeekendLaboratories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficialHolidaysLab" class="control-label"></label>
                <input asp-for="OfficialHolidaysLab" class="form-control" />
                <span asp-validation-for="OfficialHolidaysLab" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NightPeriodParameter" class="control-label"></label>
                <input asp-for="NightPeriodParameter" class="form-control" />
                <span asp-validation-for="NightPeriodParameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaboratoriesPerDay" class="control-label"></label>
                <input asp-for="LaboratoriesPerDay" class="form-control" />
                <span asp-validation-for="LaboratoriesPerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromTime" class="control-label"></label>
                <input asp-for="FromTime" class="form-control" />
                <span asp-validation-for="FromTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToTime" class="control-label"></label>
                <input asp-for="ToTime" class="form-control" />
                <span asp-validation-for="ToTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromDate" class="control-label"></label>
                <input asp-for="FromDate" class="form-control" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDate" class="control-label"></label>
                <input asp-for="ToDate" class="form-control" />
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
